
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
@using JicoDotNet.Inventory.Core.Models
@using JicoDotNet.Inventory.UI.Models;
@model ShipmentModels

@if (Model._stocks != null && Model._stocks.Count == 1)
{
    if (Model._stocks[0].StockDetails != null && Model._stocks[0].StockDetails.Count > 0)
    {
        <select class="form-control form-control-sm" data-name="StockDetailId" required onchange="StockDetailChange(this);">
            <option value="">--Select Stock--</option>
            @foreach (StockDetail stockDetail in Model._stocks[0].StockDetails)
            {
                <option value="@stockDetail.StockDetailId"
                        data-stock="@stockDetail.Stock"
                        data-IsPerishable="@stockDetail.IsPerishable.ToString().ToLower()"
                        data-ExpiryDate="@(stockDetail.ExpiryDate !=null ? stockDetail.ExpiryDate.Value.ToDateMaskString() : string.Empty)"
                        data-BatchNo="@stockDetail.BatchNo">
                    Stock: @stockDetail.Stock.ToDisplayDecimal()
                    @if (!string.IsNullOrEmpty(stockDetail.BatchNo))
                    {
                        <text> | Batch Number:</text>
                        @stockDetail.BatchNo
                    }
                    @if (stockDetail.ExpiryDate != null)
                    {
                        <text> | Expairy Date:</text>
                        @stockDetail.ExpiryDate.Value.ToDisplayShortDateString()
                    }
                    @if (stockDetail.IsPerishable)
                    {
                        <text> | Goods Received Date:</text>
                        @stockDetail.GRNDate.ToDisplayShortDateString()
                    }
                </option>
            }
        </select>
    }
    else
    {
        <select class="form-control form-control-sm" data-name="StockDetailId" required>
            <option value="">Stock Not Found</option>
        </select>
    }
}
else
{
    <select class="form-control form-control-sm" data-name="StockDetailId" required>
        <option value="">Stock Not Found</option>
    </select>
}
