@using JicoDotNet.Inventory.UI.Models;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
@model InvoiceModels
@{
    ViewBag.Title = "SMS Send";
    ViewBag.Page = "/Retail/Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Invoice Send via SMS</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Retail" )">Retail</a></li>
                    <li class="breadcrumb-item active">Invoice</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">
                            @if (Model._invoice != null)
                            {
                                <span>Invoice Send via SMS</span>
                            }
                            else
                            {
                                <span>SMS Bank is Empty</span>
                            }
                        </h3>
                    </div>
                    @if (Model._invoice != null)
                    {
                        using (Html.BeginForm("SMSSending", "Retail", new { id = Html.UrlIdEncrypt(Model._invoice.InvoiceId, false) },
                        FormMethod.Post, new { autocomplete = "off", id = "formRetailSMS" }))
                        {
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Customer/Company Name</label>
                                                    <br />
                                                    @Model._customer.CompanyName
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Customer/Company GST</label>
                                                    <br />
                                                    @Model._customer.GSTNumber
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Customer Mobile</label>
                                                    <br />
                                                    @Model._customer.Mobile
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Invoice Number</label>
                                                    <br />
                                                    #@Model._invoice.InvoiceNumber
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Invoice Date</label>
                                                    <br />
                                                    @Model._invoice.InvoiceDate.ToDisplayShortDateString()
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Invoice Total Amount</label>
                                                    <br />
                                                    @Model._invoice.TotalAmount.ToDisplayDecimal()
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label>SMS will be send:</label>
                                                    <sapn class="float-right">
                                                        <a href="javascript: void(0);" class="text-primary font-weight-bold" 
                                                           onclick="MobileNoChnage(this);">
                                                            Change mobile number?
                                                        </a>
                                                    </sapn>
                                                    <div data-mobile="old" class="font-weight-bold">
                                                        @Model._customer.Mobile
                                                    </div>
                                                    <input type="text" name="MobileNo" class="form-control form-control-sm d-none"
                                                           value="@Model._customer.Mobile"
                                                           autocomplete="off"
                                                           pattern=".{0}|.{10,10}"
                                                           title="10 digits required"
                                                           placeholder="Enter Mobile Number" required />
                                                    <input type="hidden" name="IsMobileNoChanged" value="false" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <small class="card-text text-danger">
                                                    Sms will be delivered only if the the Mobole is on and network is connected properly while you are sending.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success"><i class="fas fa-sms"></i> Send SMS</button>
                                <a href="@Url.Action("Index", "Retail", new { id = string.Empty })" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5 offset-md-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="card-text text-danger">
                                                Your SMS Bank is Empty.
                                            </p>
                                            <p class="card-text">
                                                You need to
                                                <strong>
                                                    <a class="card-link" href="@Url.Action("SMS", "Subscription")">
                                                        recharge your SMS Bank
                                                    </a>
                                                </strong> to send e-invoice to your customer.
                                            </p>
                                            <p class="card-text">
                                                For any quries, you can call us on <b>+91 9476439819</b> from your registred mobile number.
                                                Or you can send email on
                                                <a href="mailto:sales@itemblob.in">sales@@itemblob.in</a> or
                                                <a href="mailto:help@itemblob.in">help@@itemblob.in</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-5 offset-md-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="@Url.Action("SMS", "Subscription")" class="btn btn-success">
                                                <i class="fas fa-tasks"></i> SMS Bank
                                            </a>
                                            <a href="@Url.Action("UsedSMS", "Subscription")" class="btn btn-outline-primary">
                                                <i class="fas fa-binoculars"></i> View Used SMS
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section BodyScript{
    <script type="text/javascript">
        function MobileNoChnage(e) {
            $(e).hide();
            $('[data-mobile="old"]').addClass('d-none');
            $('[name="MobileNo"]').removeClass('d-none');
            $('[name="MobileNo"]').val('');
            $('[name="IsMobileNoChanged"]').val('true');
        }

        $(document).ready(function () {
            //Form Submission
            $('form#formRetailSMS').submit(function () {
                if ($('[data-mobile="old"]').text() == $('[name="MobileNo"]').val()) {
                    $('[name="IsMobileNoChanged"]').val('false');
                }
                return true;
            });
        })
    </script>
}