@using JicoDotNet.Inventory.UI.Models;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
@model StockModels

<tr>
    <td colspan="4" style="padding:0">
        <div class="card card-success">
            <div class="card-header bg-olive">
                <h3 class="card-title">Detail Stock View of <i class="text-warning">@Model._stock.ProductName</i> at <i class="text-warning">@Model._stock.WareHouseName</i> warehouse</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" style="color:#ffffff;" onclick="$(this).parents('tr').remove();">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="border:2px solid #3d9970;">
                <table class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            @if (Model._selectedProduct.HasBatchNo)
                            {
                                <th>
                                    Batch Number
                                </th>
                            }
                            @if (Model._selectedProduct.HasExpirationDate)
                            {
                                <th>
                                    Expiery Date
                                </th>
                            }
                            @if (Model._selectedProduct.IsPerishableProduct)
                            {
                                <th>
                                    Goods Received Date
                                </th>
                            }
                            <th>
                                Quantity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int j = 0; j < Model._stock.StockDetails.Count; j++)
                        {
                            <tr>
                                @if (Model._selectedProduct.HasBatchNo)
                                {
                                    <td>
                                        @if (!string.IsNullOrEmpty(Model._stock.StockDetails[j].BatchNo))
                                        {
                                            <div>
                                                @Model._stock.StockDetails[j].BatchNo
                                            </div>
                                        }
                                    </td>
                                }
                                @if (Model._selectedProduct.HasExpirationDate)
                                {
                                    <td>
                                        @if (Model._stock.StockDetails[j].ExpiryDate != null)
                                        {
                                            <div>
                                                @Model._stock.StockDetails[j].ExpiryDate.Value.ToDisplayShortDateString()
                                            </div>
                                        }
                                    </td>
                                }
                                @if (Model._selectedProduct.IsPerishableProduct)
                                {
                                    <td>
                                        @if (Model._stock.StockDetails[j].IsPerishable)
                                        {
                                            <span class="text-danger">Perishable Product</span>
                                            <div>
                                                @Model._stock.StockDetails[j].GRNDate.ToDisplayShortDateString()
                                            </div>
                                        }
                                    </td>
                                }
                                <td>
                                    <div style="font-weight: 600;">
                                        @Model._stock.StockDetails[j].Stock.ToDisplayDecimal()@Model._stock.UnitOfMeasureName
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </td>
</tr>
