@using JicoDotNet.Inventory.UI.Models;
@using JicoDotNet.Inventory.Core.Enumeration;
@using JicoDotNet.Inventory.Core.Models;
@model InvoiceModels
@{
    ViewBag.Title = "Invoice " + Model._invoice.InvoiceNumber;
    ViewBag.Page = "/Invoice/Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Invoice</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Invoice" )">Invoice</a></li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="float-md-right">
                            <print class="btn"><i class="fas fa-print"></i> Print</print>
                            <pdf class="btn"><i class="far fa-file-pdf"></i> PDF Download</pdf>
                            <a href="@Url.Action("Index", "Invoice", new { id = string.Empty })" class="btn btn-danger"> <i class="fas fa-times"></i> Close</a>
                        </div>
                    </div>
                </div>
                <div class="invoice mb-3">
                    <div data-print="true">
                        <div style="padding: 10px; font-family: Ubuntu, 'WebFont-Ubuntu'; background-color: #fff;">
                            <div style="border: 2px solid #454545;">
                                <div style="border-bottom: 1px solid #454545;">
                                    <table style="width:100%;">
                                        <tbody>
                                            <tr>
                                                <td style="width: 60%; height: 55px; ">
                                                    @if (!string.IsNullOrEmpty(Model._companyAddress.LogoUrl))
                                                    {
                                                        <img alt="@Model._companyAddress.CompanyName Logo"
                                                             style="height: 46px; width: auto; margin: 5px 3px 5px 15px;"
                                                             src="@Model._companyAddress.LogoUrl" />
                                                    }
                                                </td>
                                                <td style="width:39.99%">
                                                    <span style="float: right; font-size: 20pt; font-family: Verdana; margin: 5px 15px 5px 3px;">
                                                        INVOICE
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="border-bottom: 1px solid #454545; font-size:9pt;">
                                    <table style="width:100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table style="width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="width: 60%">
                                                                    <div style="margin: 3px 3px 15px 15px; font-style: normal; font-size:10pt; line-height: 1.25;">
                                                                        <strong style="font-size: 15pt; line-height: 1.5;">
                                                                            @Model._companyAddress.CompanyName
                                                                        </strong> <br />
                                                                        <span style="word-wrap: break-word; overflow-wrap: break-word; font-size: 11pt; word-break: break-all;">
                                                                            @if (!string.IsNullOrEmpty(Model._companyAddress.Address))
                                                                            {
                                                                                @Model._companyAddress.Address<br />
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(Model._companyAddress.Address2))
                                                                            {
                                                                                @Model._companyAddress.Address2<br />
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(Model._companyAddress.Address3))
                                                                            {
                                                                                @Model._companyAddress.Address3<br />
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(Model._companyAddress.City))
                                                                            {
                                                                                @Model._companyAddress.City
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(Model._companyAddress.PINCode))
                                                                            {
                                                                                <span> - </span>@Model._companyAddress.PINCode<br />
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(Model._companyAddress.StateCode))
                                                                            {
                                                                                @GenericLogic.State()[Model._companyAddress.StateCode]<br />
                                                                            }
                                                                            @if (Model._salesOrder.IsGstAllowed)
                                                                            {
                                                                                <strong>GSTIN: @Model._companyAddress.GSTNumber</strong>
                                                                            }
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                                <td style="width: 40%; vertical-align: top;">
                                                                    <div style="text-align: right; margin: 3px 15px 15px 3px;">
                                                                        <strong style="line-height:1.5; font-size: 14pt;">Invoice No: #@Model._invoice.InvoiceNumber</strong>
                                                                        <div style="font-size:11pt; font-style: normal; line-height: 1.25; ">
                                                                            @if (!string.IsNullOrEmpty(Model._companyAddress.Mobile))
                                                                            {
                                                                                <span>
                                                                                    Mobile: @Model._companyAddress.Mobile <br />
                                                                                </span>
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(Model._companyAddress.AlternateMobile))
                                                                            {
                                                                                <span>
                                                                                    Alternate Phone: @Model._companyAddress.AlternateMobile <br />
                                                                                </span>
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(Model._companyAddress.Email))
                                                                            {
                                                                                <span>
                                                                                    Email: @Model._companyAddress.Email <br />
                                                                                </span>
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(Model._companyAddress.WebsiteUrl))
                                                                            {
                                                                                <span>
                                                                                    Web: @Model._companyAddress.WebsiteUrl <br />
                                                                                </span>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="border-bottom: 1px solid #8c8c8c; color: #000;">
                                    <table style="width:100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table style="width: 100%; border-collapse: collapse; font-size: 10pt">
                                                        <colgroup>
                                                            <col style="width: 36%;" />
                                                            <col style="width: 35%;" />
                                                            <col style="width: 29%;" />
                                                        </colgroup>
                                                        <thead style="text-align: left;">
                                                            <tr>
                                                                <th style="color: #000; padding-left: 15px; border-bottom: 1px solid #b5b5b5; ">Bill To</th>
                                                                <th style="color: #000; padding-left: 15px; border-bottom: 1px solid #b5b5b5; ">Ship To</th>
                                                                <th style="color: #000; padding-left: 15px; border-bottom: 1px solid #b5b5b5; text-align: right; padding-right: 15px; "></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: top;">
                                                                    <div style="margin: 3px 3px 5px 15px; font-style: normal; line-height: 1.5; font-size:10pt;">
                                                                        <strong style="font-size:11pt;">
                                                                            @Model._customer.CompanyName
                                                                        </strong><br />
                                                                        <span style="word-wrap: break-word; overflow-wrap: break-word; word-break: break-all;">
                                                                            @if (!string.IsNullOrEmpty(Model._customer.ContactPerson))
                                                                            {
                                                                                @Model._customer.ContactPerson<br />
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(Model._customer.Mobile))
                                                                            {
                                                                                @Model._customer.Mobile
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(Model._customer.Email))
                                                                            {
                                                                                <span> - </span>@Model._customer.Email<br />
                                                                            }
                                                                            @GenericLogic.State()[Model._customer.StateCode]<br />
                                                                            @if (Model._customer.IsGSTRegistered)
                                                                            {
                                                                                <strong>GSTIN: @Model._customer.GSTNumber</strong>
                                                                            }
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                                <td style="vertical-align: top;">
                                                                    <div style="margin: 3px 3px 5px 15px; font-style: normal; line-height: 1.5; font-size: 10pt;">
                                                                        <strong style="font-size:11pt;">@Model._customer.CompanyName</strong><br />
                                                                        <span style="word-wrap: break-word; overflow-wrap: break-word; word-break: break-all;">
                                                                            @if (!string.IsNullOrEmpty(Model._customer.ContactPerson))
                                                                            {
                                                                                @Model._customer.ContactPerson<br />
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(Model._customer.Mobile))
                                                                            {
                                                                                @Model._customer.Mobile
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(Model._customer.Email))
                                                                            {
                                                                                <span> - </span>@Model._customer.Email<br />
                                                                            }
                                                                            @GenericLogic.State()[Model._customer.StateCode]<br />
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                                <td style="vertical-align: top;">
                                                                    <div style="text-align: right; margin: 3px 15px 3px 3px; font-size: 10pt; line-height: 1.5;">
                                                                        <span style="font-size:11pt;">
                                                                            <b> Date: </b> @Model._invoice.InvoiceDate.ToDisplayShortDateString()
                                                                        </span>
                                                                        <br />
                                                                        @if (!string.IsNullOrEmpty(Model._invoice.SalesOrderNumber))
                                                                        {
                                                                            <span>PO: </span><b>#@Model._invoice.SalesOrderNumber</b>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span>Delivery No: </span><b>#@Model._invoice.ShipmentNumber</b>
                                                                        }
                                                                        <br />
                                                                        @if (Model._invoice.InvoiceDueDate != null)
                                                                        {
                                                                            <b>Payment Due Date:</b> @(Model._invoice.InvoiceDueDate.Value.ToDisplayShortDateString())<br>
                                                                        }
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                @if (Model._customPropertyValue != null && Model._customPropertyValue.Count > 0)
                                {
                                    <div style="width: 100%; border-bottom: 1px solid #8c8c8c; color: #000; display: flex; flex-wrap: wrap;">
                                        @foreach (KeyValuePair<string, string> propertyValuue in Model._customPropertyValue)
                                        {
                                            <div style="flex: 0 0 20%; max-width: 20%;">
                                                <div style="margin: 3px 5px 3px 15px; font-style: normal; line-height: 1.5; font-size: 10pt;">
                                                    <strong>@propertyValuue.Key</strong>
                                                    <br />
                                                    <span style="word-wrap: break-word; overflow-wrap: break-word; word-break: break-all;">
                                                        @propertyValuue.Value
                                                    </span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                <div style="margin: 3px 6px 0px 6px;">
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table style="width: 100%; clear: both; color: #000; word-wrap: break-word; border-collapse: collapse; font-size: 8pt; border: 1px solid #999;">
                                                        <colgroup>
                                                            <col style="width: 3%;" />
                                                            <col style="width: 28%;" />
                                                            <col style="width: 10%;" />
                                                            <col style="width: 11%;" />
                                                            <col style="width: 11%;" />
                                                            @if (Model._salesOrder.IsGstAllowed)
                                                            {
                                                                if ((EGSTType)Model._invoice.GSTType == EGSTType.IGST)
                                                                {
                                                                    <col style="width: 10%;" />
                                                                    <col style="width: 16%;" />
                                                                }
                                                                else
                                                                {
                                                                    <col style="width: 5%;" />
                                                                    <col style="width: 8%;" />
                                                                    <col style="width: 5%;" />
                                                                    <col style="width: 8%;" />
                                                                }
                                                            }
                                                            <col style="width: 11%;" />
                                                        </colgroup>
                                                        <thead style="font-family: verdana;">
                                                            <tr style="height: 15px; background-color: #EEE;">
                                                                <td style="padding: 5px 5px 3px 5px; vertical-align: middle; text-align: center; border-right: 1px solid #999; border-bottom: 1px solid #999;" rowspan="2">
                                                                    <b>#</b>
                                                                </td>
                                                                <td style="padding: 5px 7px 3px 7px; vertical-align: middle; text-align: left; border-left: 1px solid #999; border-bottom: 1px solid #999;" rowspan="2">
                                                                    <b>Product/Service Details</b>
                                                                </td>
                                                                <td style="padding: 5px 7px 3px 7px; vertical-align: middle; text-align: left; border-left: 1px solid #999; border-bottom: 1px solid #999;" rowspan="2">
                                                                    <b>HSN/SAC</b>
                                                                </td>
                                                                <td style="padding: 5px 7px 3px 7px; vertical-align: middle; text-align: right; border-left: 1px solid #999; border-bottom: 1px solid #999;" rowspan="2">
                                                                    <b>Qty</b>
                                                                </td>
                                                                <td style="padding: 5px 7px 3px 7px; vertical-align: middle; text-align: right; border-left: 1px solid #999; border-right: 1px solid #999; border-bottom: 1px solid #999;" rowspan="2">
                                                                    <b>Rate</b>
                                                                </td>
                                                                @if (Model._salesOrder.IsGstAllowed)
                                                                {
                                                                    if ((EGSTType)Model._invoice.GSTType == EGSTType.IGST)
                                                                    {
                                                                        <td style="padding: 6px 7px 3px 7px; vertical-align: middle; text-align: center; border-right: 1px solid #999; border-bottom: 1px solid #999;" colspan="2">
                                                                            <b>IGST</b>
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="padding: 6px 7px 3px 7px; vertical-align: middle; text-align: center; border-right: 1px solid #999; border-bottom: 1px solid #999;" colspan="2">
                                                                            <b>CGST</b>
                                                                        </td>
                                                                        <td style="padding: 6px 7px 3px 7px; vertical-align: middle; text-align: center; border-right: 1px solid #999; border-bottom: 1px solid #999;" colspan="2">
                                                                            <b>U/SGST</b>
                                                                        </td>
                                                                    }
                                                                }
                                                                <td style="padding: 5px 7px 3px 7px; vertical-align: middle; text-align: right; border-right: 1px solid #999; border-bottom: 1px solid #999;" rowspan="2">
                                                                    <b>Amount</b>
                                                                </td>
                                                            </tr>
                                                            @if (Model._salesOrder.IsGstAllowed)
                                                            {
                                                                if ((EGSTType)Model._invoice.GSTType == EGSTType.IGST)
                                                                {
                                                                    <tr style="background-color: #EEE;">
                                                                        <td style="padding: 2px 5px; text-align: right; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                            <b>%</b>
                                                                        </td>
                                                                        <td style="padding: 2px 5px; text-align: right; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                            <b>Amt</b>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr style="background-color: #EEE;">
                                                                        <td style="padding: 2px 5px; text-align: right; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                            <b>%</b>
                                                                        </td>
                                                                        <td style="padding: 2px 5px; text-align: right; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                            <b>Amt</b>
                                                                        </td>
                                                                        <td style="padding: 2px 5px; text-align: right; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                            <b>%</b>
                                                                        </td>
                                                                        <td style="padding: 2px 5px; text-align: right; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                            <b>Amt</b>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </thead>
                                                        <tbody style="font-family: verdana;">
                                                            @for (int i = 0; i < Model._invoice.InvoiceDetails.Count; i++)
                                                            {
                                                                SalesOrderDetail purchaseOrderDetail = Model._salesOrder.SalesOrderDetails.FirstOrDefault(a => a.SalesOrderDetailId == Model._invoice.InvoiceDetails[i].SalesOrderDetailId);
                                                                if (purchaseOrderDetail == null)
                                                                {
                                                                    purchaseOrderDetail = new SalesOrderDetail();
                                                                }
                                                                <tr style="page-break-after: auto;">
                                                                    <td style="vertical-align: middle; text-align: center; padding:3px; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                        <strong>@(i + 1)</strong>
                                                                    </td>
                                                                    <td style="vertical-align: top; text-align: left; padding: 3px; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                        <div style="word-break: break-word">
                                                                            <div style="word-break: break-word">
                                                                                @purchaseOrderDetail.ProductName
                                                                                @if (!string.IsNullOrEmpty(purchaseOrderDetail.ProductCode))
                                                                                {
                                                                                    <span>(@purchaseOrderDetail.ProductCode)</span>
                                                                                }
                                                                                @if (!string.IsNullOrEmpty(purchaseOrderDetail.Brand))
                                                                                {
                                                                                    <span> of @purchaseOrderDetail.Brand</span>
                                                                                }
                                                                            </div>
                                                                            <div style="word-break: break-word">
                                                                                @Model._invoice.InvoiceDetails[i].Description
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="vertical-align: top; text-align: left; padding: 3px; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                        @Model._invoice.InvoiceDetails[i].HSNSAC
                                                                    </td>
                                                                    <td style="vertical-align: top; text-align: right; padding: 3px; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                        @Model._invoice.InvoiceDetails[i].InvoicedQuantity.ToDisplayDecimal()
                                                                        <div>@purchaseOrderDetail.UnitOfMeasureName</div>
                                                                    </td>
                                                                    <td style="vertical-align: top; text-align: right; padding: 3px; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                        @(Model._config.CurrencySymbol + Model._invoice.InvoiceDetails[i].Price.ToDisplayDecimal())
                                                                    </td>
                                                                    @if (Model._salesOrder.IsGstAllowed)
                                                                    {
                                                                        if ((EGSTType)Model._invoice.GSTType == EGSTType.IGST)
                                                                        {
                                                                            <td style="vertical-align: top; text-align: right; padding: 3px; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                                <div>@purchaseOrderDetail.TaxPercentage.ToDisplayDecimal()</div>
                                                                            </td>
                                                                            <td style="vertical-align: top; text-align: right; padding: 3px; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                                <div>@(Model._config.CurrencySymbol + Model._invoice.InvoiceDetails[i].IGSTAmount.ToDisplayDecimal())</div>
                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td style="vertical-align: top; text-align: right; padding: 3px; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                                <div>@((purchaseOrderDetail.TaxPercentage / 2).ToDisplayDecimal())</div>
                                                                            </td>
                                                                            <td style="vertical-align: top; text-align: right; padding: 3px; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                                <div>@(Model._config.CurrencySymbol + Model._invoice.InvoiceDetails[i].CGSTAmount.ToDisplayDecimal())</div>
                                                                            </td>
                                                                            <td style="vertical-align: top; text-align: right; padding: 3px; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                                <div>@((purchaseOrderDetail.TaxPercentage / 2).ToDisplayDecimal())</div>
                                                                            </td>
                                                                            <td style="vertical-align: top; text-align: right; padding: 3px; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                                <div>@(Model._config.CurrencySymbol + Model._invoice.InvoiceDetails[i].SGSTAmount.ToDisplayDecimal())</div>
                                                                            </td>
                                                                        }
                                                                    }
                                                                    <td style="vertical-align: top; text-align: right; padding: 3px; border-right: 1px solid #999; border-bottom: 1px solid #999;">
                                                                        @(Model._config.CurrencySymbol + Model._invoice.InvoiceDetails[i].Total.ToDisplayDecimal())
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="margin: 0 15px;">
                                    <div style="width: 100%; display: flex; flex-wrap: wrap; padding-top: 5px;">
                                        <div style="width: 60%; flex: 0 0 60%; font-family: Verdana;">
                                            <div style="padding-left: 5px;">
                                                @if (!string.IsNullOrEmpty(Model._invoice.Remarks))
                                                {
                                                    <div style="margin-top: 5px; font-weight: bold; font-size: 10pt; ">
                                                        Remarks
                                                    </div>
                                                    <div style="margin-top: 5px; font-size: 8pt; ">
                                                        @Model._invoice.Remarks
                                                    </div>
                                                }
                                                @if (Model._companyBank != null)
                                                {
                                                    <div style="margin-top: 5px; font-weight: bold; font-size: 10pt; ">
                                                        Our Bank Details
                                                    </div>
                                                    <div style="margin-top: 5px; font-size: 8pt; font-family: Consolas;">
                                                        <div>
                                                            <div>
                                                                A/C Name: @Model._companyBank.AccountName
                                                            </div>
                                                            <div>
                                                                A/C Number: @Model._companyBank.AccountNumber
                                                            </div>
                                                            <div>
                                                                Bank: @Model._companyBank.BankName
                                                                @if (!string.IsNullOrEmpty(Model._companyBank.BranchName))
                                                                {
                                                                    <span>(@Model._companyBank.BranchName)</span>
                                                                }
                                                            </div>
                                                            <div>
                                                                IFSC: @Model._companyBank.IFSC
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div style="width: 39.999%; flex: 0 0 39.999%;">
                                            <table style="border: 1px solid #999; border-collapse: collapse; font-size: 11pt;" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <th style="text-align: right; width: 40%; padding: 3px;">Sub Total:</th>
                                                        <td style="text-align: right; padding: 3px;">
                                                            @(Model._config.CurrencySymbol + Model._invoice.InvoicedAmount.ToDisplayDecimal())
                                                        </td>
                                                    </tr>
                                                    @if (Model._salesOrder.IsGstAllowed)
                                                    {
                                                        <tr>
                                                            <th style="border-top: 1px solid #999; padding: 3px; text-align: right;">Total Tax:</th>
                                                            <td style="text-align: right; border-top: 1px solid #999; padding: 3px;">
                                                                @(Model._config.CurrencySymbol + Model._invoice.TaxAmount.ToDisplayDecimal())
                                                            </td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <th style="border-top: 3px double #999; padding: 3px; text-align: right; border-bottom: 3px double #999; ">Grand Total:</th>
                                                        <td style="padding: 6px 0; text-align: right; border-top: 3px double #999; border-bottom: 3px double #999; font-weight: bold; font-size: 12pt; padding: 3px;">
                                                            @(Model._config.CurrencySymbol + Model._invoice.TotalAmount.ToDisplayDecimal())
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-bottom: 1px solid #999; border-top: 1px solid #999; padding: 3px; " colspan="2">
                                                            <div style="margin:3px 0 5px">
                                                                <div>Total In Words</div>
                                                                <div>
                                                                    <b>
                                                                        <em style="word-break:break-word; overflow-wrap: break-word;">
                                                                            @GenericLogic.ConvertToWord(Model._invoice.TotalAmount)
                                                                        </em>
                                                                    </b>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2" style="border-right: 1px solid #999;">
                                                            <div style="min-height: 69px;">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center;" colspan="2">
                                                            <span style="font-size:9pt;">Authorized Signature</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #505050; margin: 0 15px;">
                                    <div style="width: 100%; display: flex; flex-wrap: wrap; margin-top: -15px;">
                                        <div style="font-size: 11pt; ">
                                            Thanks for your business.
                                        </div>
                                    </div>
                                </div>
                                <div style="width: 100%; display: flex; flex-wrap: wrap; font-family: Arial; color: #3c3c3c; font-size: 8pt; line-height: 1.2; ">
                                    <div style="width: 100%; flex: 0 0 100%; text-align: center; margin: 3px 0;">
                                        <div style="font-style: italic;">This is online software generated. Inventory Solution</div>
                                        <div style="font-style: italic;">Online Inventory/Billing Software: <a style="color: #3c3c3c; text-decoration:none;" target="_blank" href="http://itemblob.in">https://itemblob.in</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none">
                    @Html.Partial("_PartialPrintSignature")
                </div>
                <div class="card">
                    <div class="card-body">
                        <print class="btn"><i class="fas fa-print"></i> Print</print>
                        <pdf class="btn"><i class="far fa-file-pdf"></i> PDF Download</pdf>
                        <a href="@Url.Action("Index", "Invoice", new { id = string.Empty })" class="btn btn-danger"> <i class="fas fa-times"></i> Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>