@using JicoDotNet.Inventory.UI.Models;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
@using JicoDotNet.Inventory.Core.Enumeration
@using JicoDotNet.Inventory.Core.Models
@model InvoiceModels

@{
    ViewBag.Title = "Invoice Generate";
    ViewBag.Page = "/Invoice/Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Invoice Generate</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Invoice", new { id = string.Empty })">Invoice</a></li>
                    <li class="breadcrumb-item active">Generate</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">
                            Invoice Generate
                            @if (Model._salesOrder != null)
                            {
                                <text> for -
                                    <strong>
                                        @if (string.IsNullOrEmpty(Model._salesOrder.SalesOrderNumber))
                                        {
                                            @Model._salesOrder.ShipmentNumber;
                                        }
                                        else
                                        {
                                            @Model._salesOrder.SalesOrderNumber;
                                        }
                                    </strong>
                                </text>
                            }
                        </h3>
                    </div>
                    @using (Html.BeginForm("Generate", "Invoice",
                           FormMethod.Post, new { autocomplete = "off", id = "formInvoiceGenerate" }))
                    {
                        if (Model._salesOrder != null)
                        {
                            <div class="card-footer">
                                <div class="float-md-right">
                                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                                    <a href="@Url.Action("Generate", "Invoice", new { id = string.Empty })" class="btn btn-danger"> <i class="fas fa-times"></i> Cancel</a>
                                    <button type="reset" class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
                                </div>
                            </div>
                        }
                        if (Model._salesOrder == null && Model._salesOrders != null)
                        {
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>SO/Delivery No</label>
                                            <select class="form-control form-control-sm select2"
                                                    name="PurchaseOrderId"
                                                    onchange="location.href='@Url.Action("Generate", "Invoice", new { id = string.Empty })/' + escape(btoa(this.value))"
                                                    required style="width:100%;">
                                                <option value="">-- Select --</option>
                                                @if (Model != null && Model._salesOrders != null)
                                                {
                                                    foreach (SalesOrder salesOrder in Model._salesOrders)
                                                    {
                                                        <option value="@salesOrder.SalesOrderId">
                                                            @salesOrder.SalesOrderNumber
                                                        </option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Invoice Date</label>
                                            <small>Day/Month/Year</small>
                                            <input type="text" name="InvoiceDate" class="form-control form-control-sm"
                                                   placeholder="Invoice Date" data-mask readonly
                                                   value="@GenericLogic.IstNow.ToDateMaskString()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        if (Model._salesOrder != null)
                        {
                            <div class="card-body">
                                <div class="d-none">
                                    @* Invoice Header Hidden *@
                                    <input type="hidden" value="@Model._salesOrder.SalesOrderId" name="SalesOrderId" />
                                    <input type="hidden" value="@Model._salesOrder.CustomerId" name="CustomerId" />
                                    <input type="hidden" value="@Model._salesOrder.IsGstAllowed.ToString().ToLower()" name="IsGstApplicable" />
                                    <input type="hidden" value="@Model._salesOrder.GSTNumber" name="GSTNumber" />
                                    <input type="hidden" value="@GenericLogic.GstStateCode(Model._salesOrder.GSTNumber)" name="GSTStateCode" />
                                    <input type="hidden" value="@((short)Model.GSTType)" name="GSTType" />
                                    <input type="hidden" value="false" name="IsFullInvoiced" data-IsFullInvoiced />
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Order/Delivery Number</label><br />
                                            @if (string.IsNullOrEmpty(Model._salesOrder.SalesOrderNumber))
                                            {
                                                @Model._salesOrder.ShipmentNumber;
                                            }
                                            else
                                            {
                                                @Model._salesOrder.SalesOrderNumber;
                                            }
                                            <br />
                                            @if (Model._salesOrder.IsGstAllowed)
                                            {
                                                <b>GST Enabled Invoice</b>
                                            }
                                            else
                                            {
                                                <i>Non GST Invoice</i>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Customer & GST Number</label><br />
                                            @Model._salesOrder.CompanyName<br />
                                            @if (Model._salesOrder.IsGSTRegistered)
                                            {
                                                <b>@Model._salesOrder.GSTNumber</b>
                                            }
                                            else
                                            {
                                                <i>GST Unregistred</i>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Invoice Date</label>
                                            <small>Day/Month/Year</small>
                                            <input type="text" name="InvoiceDate" class="form-control form-control-sm"
                                                   placeholder="Invoice Date" required data-mask readonly data-mindate="@Model._dateLimit.ToDateMaskString()"
                                                   value="@GenericLogic.IstNow.ToDateMaskString()" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Invoice Type</label>
                                            <select class="form-control form-control-sm" name="InvoiceTypeId" required>
                                                <option value="">-- Select --</option>
                                                @foreach (InvoiceType invoiceType in Model._invoiceTypes)
                                                {
                                                    <option value="@invoiceType.InvoiceTypeId">
                                                        @invoiceType.InvoiceTypeName
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Payment Due Date</label>
                                            <input type="text" name="InvoiceDueDate" class="form-control form-control-sm"
                                                   placeholder="Due Date" data-mask readonly
                                                   value="" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Remarks</label>
                                            <textarea name="Remarks" class="form-control form-control-sm" placeholder="Enter Remarks" style="height:31px;">@Model._config.InvoiceRemarks</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-none">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Vehicle Number</label>
                                            <input type="text" name="VehicleNumber" placeholder="Vehicle Number"
                                                   class="form-control form-control-sm" maxlength="12" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Hand Over Person</label>
                                            <input type="text" name="HandOverPerson" class="form-control form-control-sm"
                                                   maxlength="24" placeholder="Hand Over Person's Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Hand Over Person Mobile</label>
                                            <input type="text" name="HandOverPersonMobile" class="form-control form-control-sm"
                                                   maxlength="15" placeholder="Hand Over Person's Mobile" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                @Html.Action("Bind", "Custom", new { id = Html.UrlIdEncrypt(ECustomPropertyFor.SalesInvoice, false) })
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-success">
                                            <div class="card-header bg-teal">
                                                <h3 class="card-title">Product Details for Invoice</h3>
                                            </div>
                                            <div class="card-body" style="overflow-x:scroll;">
                                                <table class="table table-striped table-bordered dt-responsive nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>Product Details</th>
                                                            <th>Invoice Quantity</th>
                                                            <th>Remarks</th>
                                                            <th>Price / Sub Total</th>
                                                            @if (Model._salesOrder.IsGstAllowed)
                                                            {
                                                                <th>Tax</th>
                                                            }
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-tableInvoiceDetails>
                                                        @for (int i = 0; i < Model._salesOrder.SalesOrderDetails.Count; i++)
                                                        {
                                                            if (Model._salesOrder.SalesOrderDetails[i].Quantity > 0)
                                                            {
                                                                <tr>
                                                                    <td class="d-none">
                                                                        <input type="hidden" name="InvoiceDetails[@i].ProductId" value="@Model._salesOrder.SalesOrderDetails[i].ProductId" />
                                                                        <input type="hidden" name="InvoiceDetails[@i].SalesOrderDetailId" value="@Model._salesOrder.SalesOrderDetails[i].SalesOrderDetailId" />
                                                                        <input type="hidden" name="InvoiceDetails[@i].HSNSAC" value="@Model._salesOrder.SalesOrderDetails[i].HSNSAC" />
                                                                        <input type="hidden" name="InvoiceDetails[@i].Price" data-Price value="@Model._salesOrder.SalesOrderDetails[i].Price" />
                                                                        <input type="hidden" name="InvoiceDetails[@i].TaxPercentage" data-TaxPercentage value="@Model._salesOrder.SalesOrderDetails[i].TaxPercentage" />
                                                                    </td>
                                                                    <td>
                                                                        @Model._salesOrder.SalesOrderDetails[i].ProductName/
                                                                        @Model._salesOrder.SalesOrderDetails[i].ProductCode
                                                                        @if (!string.IsNullOrEmpty(Model._salesOrder.SalesOrderDetails[i].HSNSAC))
                                                                        {
                                                                            <br /><span>HSN: </span>
                                                                            @Model._salesOrder.SalesOrderDetails[i].HSNSAC
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        Order Qty: <strong>@((Model._salesOrder.SalesOrderDetails[i].ShippedQuantity + Model._salesOrder.SalesOrderDetails[i].Quantity).ToDisplayDecimal())@Model._salesOrder.SalesOrderDetails[i].UnitOfMeasureName</strong>
                                                                        @if (Model._salesOrder.SalesOrderDetails[i].ShippedQuantity > 0)
                                                                        {
                                                                            <span>
                                                                                <br />
                                                                                Previous Invoiced: @Model._salesOrder.SalesOrderDetails[i].ShippedQuantity.ToDisplayDecimal()
                                                                            </span>
                                                                        }
                                                                        <div class="input-group" style="width:150px;">
                                                                            <input type="number" name="InvoiceDetails[@i].InvoicedQuantity"
                                                                                   onblur="AmountCalculate(this)"
                                                                                   class="form-control form-control-sm" data-InvoicedQuantity
                                                                                   min="0" value="0"
                                                                                   step="0.0000001" max="@Model._salesOrder.SalesOrderDetails[i].Quantity"
                                                                                   placeholder="Qty" />
                                                                            <div class="input-group-append" style="height: 31px;">
                                                                                <span class="input-group-text">@Model._salesOrder.SalesOrderDetails[i].UnitOfMeasureName</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        @Model._salesOrder.SalesOrderDetails[i].Description
                                                                        <input type="text" name="InvoiceDetails[@i].Description" style="max-width:150px;"
                                                                               class="form-control form-control-sm" placeholder="Invoice Remarks" />
                                                                    </td>
                                                                    <td>
                                                                        @Model._config.CurrencySymbol
                                                                        <span>
                                                                            @Model._salesOrder.SalesOrderDetails[i].Price.ToDisplayDecimal()
                                                                        </span>
                                                                        <br />
                                                                        @Model._config.CurrencySymbol
                                                                        <span data-SubTotal>
                                                                            @Model._salesOrder.SalesOrderDetails[i].SubTotal.ToDisplayDecimal()
                                                                        </span>
                                                                    </td>
                                                                    @if (Model._salesOrder.IsGstAllowed)
                                                                    {
                                                                        <td>
                                                                            @if (Model.GSTType == EGSTType.IGST)
                                                                            {
                                                                                <strong>IGST (@Model._salesOrder.SalesOrderDetails[i].TaxPercentage.ToDisplayDecimal()%)</strong><br />
                                                                            }
                                                                            else if (Model.GSTType == EGSTType.CGSTSGST)
                                                                            {
                                                                                <strong>CGST-U/SGST (@Model._salesOrder.SalesOrderDetails[i].TaxPercentage.ToDisplayDecimal()%)</strong><br />
                                                                            }
                                                                            else
                                                                            {
                                                                                <strong class="text-danger">Something wrong!! </strong><br />
                                                                            }
                                                                            @Model._config.CurrencySymbol
                                                                            <span data-TaxAmount>
                                                                                @Model._salesOrder.SalesOrderDetails[i].TaxAmount.ToDisplayDecimal()
                                                                            </span>
                                                                        </td>
                                                                    }
                                                                    <td>
                                                                        @Model._config.CurrencySymbol
                                                                        <span data-Total>
                                                                            @Model._salesOrder.SalesOrderDetails[i].Total.ToDisplayDecimal()
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:15px;">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Invoice Amount</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend" style="height: 31px;">
                                                            <span class="input-group-text">@Model._config.CurrencySymbol</span>
                                                        </div>
                                                        <input type="text" name="InvoicedAmount"
                                                               class="form-control form-control-sm" value="0.0"
                                                               placeholder="Invoice Amount" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            @if (Model._salesOrder.IsGstAllowed)
                                            {
                                                <div class="col-md-12">
                                                    <div class="form-group grn-status">
                                                        <label>Invoice Tax Amount</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend" style="height: 31px;">
                                                                <span class="input-group-text">@Model._config.CurrencySymbol</span>
                                                            </div>
                                                            <input type="text" name="TaxAmount"
                                                                   class="form-control form-control-sm" value="0.0"
                                                                   placeholder="Invoice Tax Amount" readonly />
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Invoice Total Amount</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend" style="height: 31px;">
                                                            <span class="input-group-text">@Model._config.CurrencySymbol</span>
                                                        </div>
                                                        <input type="text" name="TotalAmount"
                                                               class="form-control form-control-sm" value="0.0"
                                                               placeholder="Invoice Total Amount" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                                    <a href="@Url.Action("Generate", "Invoice", new { id = string.Empty })" class="btn btn-danger"> <i class="fas fa-times"></i> Cancel</a>
                                    <button type="reset" class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
                                </div>
                            }
                            else
                            {
                                <div class="card-footer">
                                    <a href="@Url.Action("Index", "Invoice", new { id = string.Empty })" class="btn btn-danger"> <i class="fas fa-times"></i> Cancel</a>
                                </div>
                            }
                        }
                </div>
                </div>
        </div>
    </div>
</section>
@section BodyScript{
    <script type="text/javascript">
        $(document).ready(function () {
            var trs = $('[data-tableInvoiceDetails]').children('tr');
            for (var i = 0; i < trs.length; i++) {
                $(trs[i]).find('[data-InvoicedQuantity]').trigger("blur");
            }

            $('form#formInvoiceGenerate').submit(function () {
                InvoicedValueChange();
                return true;
            });
        });

        function InvoicedValueChange() {
            var Qtys = $('[data-tableInvoiceDetails]').find('[data-InvoicedQuantity]');
            var IsFullInvoiced = true;
            for (var i = 0; i < Qtys.length; i++) {
                if (parseFloat($(Qtys[i]).val()) != parseFloat($(Qtys[i]).attr('max')))
                    IsFullInvoiced = false;
            }
            $('[data-IsFullInvoiced]').val(IsFullInvoiced.toString().toLowerCase());
        }

        function AmountCalculate(e) {
            var Price = parseFloat($(e).parents('tr').find('input[data-Price]').val());
            var TaxPercentage = parseFloat($(e).parents('tr').find('input[data-TaxPercentage]').val());
            var InvoicedQuantity = $(e).val();
            InvoicedQuantity = InvoicedQuantity == "" ? 0 : parseFloat(InvoicedQuantity);

            var SubTotal = Price * InvoicedQuantity;
            var TaxAmount = (TaxPercentage / 100) * SubTotal;
            var Total = SubTotal + TaxAmount;

            $(e).parents('tr').find('[data-SubTotal]').text(SubTotal.toFixed(5));
            $(e).parents('tr').find('[data-TaxAmount]').text(TaxAmount.toFixed(5));
            $(e).parents('tr').find('[data-Total]').text(Total.toFixed(5));

            TotalCalculate();
        }

        function TotalCalculate() {
            var trs = $('[data-tableInvoiceDetails]').children('tr');
            var InvoiceAmount = 0.0;
            var InvoiceTaxAmount = 0.0;
            var InvoiceTotalAmount = 0.0;
            for (var i = 0; i < trs.length; i++) {
                InvoiceAmount = InvoiceAmount + parseFloat($(trs[i]).find('[data-SubTotal]').text());
                InvoiceTaxAmount = InvoiceTaxAmount + parseFloat($(trs[i]).find('[data-TaxAmount]').text());
                InvoiceTotalAmount = InvoiceTotalAmount + parseFloat($(trs[i]).find('[data-Total]').text());
            }
            $('[name="InvoicedAmount"]').val(InvoiceAmount.toFixed(5));
            $('[name="TaxAmount"]').val(InvoiceTaxAmount.toFixed(5));
            $('[name="TotalAmount"]').val(InvoiceTotalAmount.toFixed(5));
        }
    </script>
}