@using JicoDotNet.Inventory.UIReport.Models;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class.Report;
@model TaxReportModels

<table class="table table-striped table-bordered dt-responsive nowrap" data-table="report">
    <thead>
        <tr>
            <th>Invoice Number</th>
            <th>Invoice Date</th>
            <th>GST No</th>
            <th>GST State</th>
            <th>Taxable Amount</th>
            <th>IGST</th>
            <th>CGST</th>
            <th>S/UGST</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model._rGSTOut != null)
        {
            foreach (RGSTOutput rGSTOutput in Model._rGSTOut)
            {
                <tr>
                    <td>
                        @rGSTOutput.InvoiceNumber
                    </td>
                    <td>
                        @rGSTOutput.InvoiceDate.ToDisplayShortDateString()
                    </td>
                    <td>
                        @rGSTOutput.GSTNumber
                    </td>
                    <td>
                        @rGSTOutput.GSTStateCode
                    </td>
                    <td>
                        @rGSTOutput.InvoicedAmount.ToDisplayDecimal()
                    </td>
                    <td>
                        @if (rGSTOutput.GSTType == (short)EGSTType.IGST)
                        {
                            @rGSTOutput.TaxAmount.ToDisplayDecimal()
                        }
                    </td>
                    <td>
                        @if (rGSTOutput.GSTType == (short)EGSTType.CGSTSGST)
                        {
                            @((rGSTOutput.TaxAmount/2).ToDisplayDecimal())
                        }
                    </td>
                    <td>
                        @if (rGSTOutput.GSTType == (short)EGSTType.CGSTSGST)
                        {
                            @((rGSTOutput.TaxAmount/2).ToDisplayDecimal())
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>