@using JicoDotNet.Inventory.UI.Models;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
@using JicoDotNet.Inventory.Core.Models
@model PaymentModels

@{
    ViewBag.Title = "Payment Receive";
    ViewBag.Page = "/Payment/Received";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    decimal DueAmount = 0;
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Payment Receive</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Received", "Payment")">Payment</a></li>
                    <li class="breadcrumb-item actve">Receiving</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">
                            Payment @if (Model._customer != null)
                            {<text> for - <strong>@Model._customer.CompanyName</strong> </text>}
                        </h3>
                    </div>
                    @using (Html.BeginForm("Receive", "Payment",
                            FormMethod.Post, new { autocomplete = "off", id = "formPaymentIn" }))
                    {
                        if (Model._customer != null && Model._invoices.Count > 0)
                        {
                            <div class="card-footer">
                                <div class="float-md-right">
                                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                                    <a href="@Url.Action("Receive", "Payment", new { id = string.Empty })" class="btn btn-danger"> <i class="fas fa-times"></i> Cancel</a>
                                    <button type="reset" class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
                                </div>
                            </div>
                        }
                        if (Model._customers != null && Model._customer == null)
                        {
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Customer & GST Number</label>
                                            <select class="form-control form-control-sm select2"
                                                    onchange="location.href='@Url.Action("Receive", "Payment", new { id = string.Empty })/' + escape(btoa(this.value))">
                                                <option value="">-- Select --</option>
                                                @if (Model != null && Model._customers != null)
                                                {
                                                    foreach (Customer customer in Model._customers)
                                                    {
                                                        <option value="@customer.CustomerId">
                                                            @customer.CompanyName - @(((customer.IsGSTRegistered) ? customer.GSTNumber : "GST Unregistred"))
                                                        </option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6"></div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Payment Date</label>
                                            <small>Day/Month/Year</small>
                                            <input type="text" class="form-control"
                                                   placeholder="Payment Date" required data-mask readonly
                                                   value="@GenericLogic.IstNow.ToDateMaskString()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model._invoices.Count > 0)
                        {
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 d-none" data-alert>
                                        <div class="alert alert-danger alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                                            <i>Total Amount</i> should be Summation of <i>Payment</i> of Invoice Details
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Customer & GST Number</label><br />
                                            @Model._customer.CompanyName<br />
                                            @if (Model._customer.IsGSTRegistered)
                                            {
                                                <b>@Model._customer.GSTNumber</b>
                                            }
                                            else
                                            {
                                                <i>GST Unregistred</i>
                                            }
                                            <input type="hidden" name="CustomerId" value="@Model._customer.CustomerId"
                                                   class="d-none" style="display:none !important;" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Your Bank</label>
                                            <select class="form-control form-control-sm" name="CompanyBankId">
                                                <option value="">-- Select --</option>
                                                @if (Model != null && Model._companyBanks != null)
                                                {
                                                    foreach (CompanyBank companyBank in Model._companyBanks)
                                                    {
                                                        <option value="@companyBank.CompanyBankId">
                                                            @companyBank.AccountName (A/c No - @companyBank.AccountNumber) - @companyBank.IFSC
                                                        </option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Total Due to Receive</label>
                                        <br />
                                        <strong data-amount="due"></strong>
                                        <br />
                                        <a href="javascript:void(0);" class="card-link" data-fullamount=""
                                           onclick="$('[data-full]').click(); $('[name=\'TotalAmount\']').val(parseFloat($(this).data('fullamount')).toFixed(5))">Receive Full amount</a>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Payment Date</label>
                                            <small>Day/Month/Year</small>
                                            <input type="text" name="PaymentDate" class="form-control form-control-sm"
                                                   placeholder="Payment Date" required data-mask readonly
                                                   value="@GenericLogic.IstNow.ToDateMaskString()" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Total Receive Amount</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend" style="height:31px;">
                                                    <span class="input-group-text">@Model._config.CurrencySymbol</span>
                                                </div>
                                                <input type="number" min="0" name="TotalAmount" class="form-control form-control-sm"
                                                       value="0.0" step="0.00001" onblur="javascript: TDSCalculation(); return false;"
                                                       placeholder="Total Amount" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>TDS Applicable</label>
                                            <select class="form-control form-control-sm" name="IsTDSApplicable"
                                                    onchange="javascript: TDSModeChange(this); return false;" required>
                                                <option value="true">Yes</option>
                                                <option value="false" selected>No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-none" data-tds>
                                    <div class="col-md-4" data-tds="TDSPercentage">
                                        <div class="form-group">
                                            <label>TDS Percentage</label>
                                            <div class="input-group">
                                                <input type="number" min="0" name="TDSPercentage" class="form-control form-control-sm"
                                                       value="0.0" step="1" max="50" onblur="javascript: TDSCalculation(); return false;"
                                                       placeholder="TDS Percentage" />
                                                <div class="input-group-append" style="height:31px;">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" data-tds="TDSAmount">
                                        <div class="form-group">
                                            <label>TDS Deducted Amount</label>
                                            <div class="input-group">
                                                <input type="number" name="TDSAmount" class="form-control form-control-sm"
                                                       value="0.0" readonly step="0.01"
                                                       placeholder="TDS Percentage" />
                                                <div class="input-group-append" style="height:31px;">
                                                    <span class="input-group-text">@(Model._config.CurrencySymbol)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" data-tds="ReceiveAmount">
                                        <div class="form-group">
                                            <label>Receive Amount</label>
                                            <div class="input-group">
                                                <input type="number" name="ReceiveAmount" class="form-control form-control-sm"
                                                       value="0.0" readonly step="0.01"
                                                       placeholder="Pay Amount" />
                                                <div class="input-group-append" style="height:31px;">
                                                    <span class="input-group-text">@(Model._config.CurrencySymbol)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Reference No</label>
                                            <input type="text" maxlength="60" class="form-control form-control-sm" name="ReferenceNo" placeholder="Reference No" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Remarks</label>
                                            <input type="text" maxlength="125" class="form-control form-control-sm" name="Remarks" placeholder="Remarks" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Payment Mode</label>
                                            <select class="form-control form-control-sm" name="PaymentMode"
                                                    onchange="javascript: PaymentModeChange(this); return false;" required>
                                                <option value="">-- Select --</option>
                                                @for (int i = 0; i < Model._paymentMode.Count; i++)
                                                {
                                                    <option value="@Model._paymentMode.Keys.ElementAt(i)">
                                                        @Model._paymentMode[Model._paymentMode.Keys.ElementAt(i)]
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-none" data-PaymentMode="Cheque">
                                    <div class="col-md-12">
                                        <div class="callout callout-warning">
                                            <p class="text-danger">It is considered that this Cheque is cleared by bank. This system don't track Bounced Cheque.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Cheque No</label>
                                            <input type="text" name="ChequeNo" class="form-control form-control-sm" maxlength="6"
                                                   placeholder="Cheque No" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Cheque Date</label>
                                            <small>Day/Month/Year</small>
                                            <input type="text" name="ChequeDate" class="form-control form-control-sm"
                                                   placeholder="Cheque Date" data-mask readonly
                                                   value="" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Cheque IFSC</label>
                                            <input type="text" maxlength="11" class="form-control form-control-sm" name="ChequeIFSC" placeholder="Cheque IFS Code" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-success">
                                            <div class="card-header bg-teal">
                                                <h3 class="card-title">Invoice Details</h3>
                                            </div>
                                            <div class="card-body" style="overflow-x:scroll;">
                                                <table class="table table-striped table-bordered dt-responsive nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>Invoice#</th>
                                                            <th>Invoice Amount</th>
                                                            <th>Payment</th>
                                                            <th>Note</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-tableInvoiceDetails>
                                                        @for (int i = 0; i < Model._invoices.Count; i++)
                                                        {
                                                            <tr>
                                                                <td class="d-none" style="display:none !important;">
                                                                    <input type="hidden" name="PaymentInDetails[@i].InvoiceId"
                                                                           value="@Model._invoices[i].InvoiceId" class="d-none" style="display:none !important;" />
                                                                    <input type="hidden" name="PaymentInDetails[@i].InvoiceNumber"
                                                                           value="@Model._invoices[i].InvoiceNumber" class="d-none" style="display:none !important;" />
                                                                    <input type="hidden" name="PaymentInDetails[@i].IsFullReceived"
                                                                           data-IsFullReceived
                                                                           value="false" class="d-none" style="display:none !important;" />
                                                                </td>
                                                                <td style="white-space: nowrap;">
                                                                    <strong>@Model._invoices[i].InvoiceNumber</strong>
                                                                    <br />
                                                                    @Model._invoices[i].InvoiceDate.ToDisplayShortDateString()
                                                                    @if (Model._invoices[i].InvoiceDueDate != null)
                                                                    {
                                                                        <br />
                                                                        if (Model._invoices[i].InvoiceDueDate > GenericLogic.IstNow)
                                                                        {
                                                                            <span class="text-success">Due Date: @(Model._invoices[i].InvoiceDueDate.Value.ToDisplayableShortDateString())</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="text-danger">Due Date: @(Model._invoices[i].InvoiceDueDate.Value.ToDisplayableShortDateString())</span>
                                                                        }
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @Model._config.CurrencySymbol@((Model._invoices[i].TotalAmount + Model._invoices[i].ReceivedAmount).ToDisplayDecimal())
                                                                    @if (Model._invoices[i].ReceivedAmount > 0)
                                                                    {
                                                                        <hr style="margin: 2px;" />
                                                                        <div>
                                                                            Previous Received:
                                                                        </div>
                                                                        @Model._config.CurrencySymbol@Model._invoices[i].ReceivedAmount.ToDisplayDecimal()
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @{
                                                                        DueAmount = DueAmount + Model._invoices[i].TotalAmount;
                                                                    }
                                                                    <div class="input-group" style="min-width:150px;">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text">@Model._config.CurrencySymbol</span>
                                                                        </div>
                                                                        <input type="number" min="0" max="@Model._invoices[i].TotalAmount.ToDisplayDecimal())"
                                                                               name="PaymentInDetails[@i].Amount" class="form-control" value="0.0"
                                                                               step="0.000001"
                                                                               onblur="if (isNaN(this.value) || this.value == '') { this.value = '0.0'; }"
                                                                               data-Amount
                                                                               placeholder="Total Amount" required />
                                                                    </div>
                                                                    <a href="javascript:void(0);" class="card-link float-right" data-full
                                                                       onclick="$(this).closest('td').find('input[data-Amount]').val(parseFloat('@Model._invoices[i].TotalAmount.ToDisplayDecimal()').toFixed(5))">Receive Full</a>
                                                                </td>
                                                                <td>
                                                                    <input type="text" name="PaymentInDetails[@i].Description"
                                                                           style="min-width:160px;"
                                                                           class="form-control" placeholder="Payment Notes" />
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 d-none" data-alert>
                                        <div class="alert alert-danger alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                                            <i>Total Amount</i> should be Summation of <i>Payment</i> of Invoice Details
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card-body">
                                <div class="callout callout-info">
                                    <h5>Congratuallations!</h5>
                                    <p>No invoice(s) are pending for payment receive.</p>
                                </div>
                            </div>
                        }
                        if (Model._customer != null && Model._invoices.Count > 0)
                        {
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                                <a href="@Url.Action("Receive", "Payment", new { id = string.Empty })" class="btn btn-danger"> <i class="fas fa-times"></i> Cancel</a>
                                <button type="reset" class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
                            </div>
                        }
                        else
                        {
                            <div class="card-footer">
                                <a href="@Url.Action("Received", "Payment", new { id = string.Empty })" class="btn btn-danger"> <i class="fas fa-times"></i> Cancel</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section BodyScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-amount="due"]').text('@(Model._config.CurrencySymbol)' + '@DueAmount.ToDisplayDecimal()');
            $('[name="TotalAmount"]').attr('max', '@DueAmount.ToDisplayDecimal()');
            $('[data-fullamount]').data('fullamount', '@DueAmount.ToDisplayDecimal()');
        });

        function PaymentModeChange(e) {
            var PaymentMode = $(e).val();
            if (PaymentMode == '3') {
                $('[data-PaymentMode="Cheque"]').find('input').val('');
                $('[data-PaymentMode="Cheque"]').removeClass('d-none');
            }
            else {
                $('[data-PaymentMode="Cheque"]').find('input').val('');
                $('[data-PaymentMode="Cheque"]').addClass('d-none');
            }
        }

        function TDSModeChange(e) {
            $('[data-tds]').find('input').val('0.0');
            if ($(e).val() == 'true') {
                $('[data-tds]').removeClass('d-none');
                TDSCalculation();
            }
            else {
                $('[data-tds]').addClass('d-none');
            }
        }

        function TDSCalculation() {
            if ($('select[name="IsTDSApplicable"]').val() == 'true') {
                var Percentage = $('input[name="TDSPercentage"]').val();
                var Total = $('input[name="TotalAmount"]').val();
                var tdsamount = (Total * Percentage) / 100;
                var receiveamount = Total - tdsamount;
                $('input[name="TDSAmount"]').val(tdsamount);
                $('input[name="ReceiveAmount"]').val(receiveamount);
            }
        }

        $('form#formPaymentIn').submit(function () {
            return checkForFullPayment(this);
        });

        function checkForFullPayment(e) {
            var trTotalAmount = 0.0;
            var Qtys = $('[data-tableInvoiceDetails]').find('[data-Amount]');
            for (var i = 0; i < Qtys.length; i++) {
                trTotalAmount += parseFloat($(Qtys[i]).val());
                if (parseFloat($(Qtys[i]).val()) != parseFloat($(Qtys[i]).attr('max'))) {
                    $(Qtys[i]).closest('tr').find('input[data-IsFullReceived]').val(false);
                }
                else {
                    $(Qtys[i]).closest('tr').find('input[data-IsFullReceived]').val(true);
                }
            }
            if (trTotalAmount != $('input[name="TotalAmount"]').val()) {
                $('input[name="TotalAmount"]').addClass('is-invalid');
                $('input[data-Amount]').addClass('is-invalid');
                $('[data-alert]').removeClass('d-none');
                setDefaultButton(e);
                return false;
            }
            return true;
        }
    </script>
}