@using JicoDotNet.Inventory.Core.Models

<a data-div="backtotop" href="javascript: void(0);" class="btn btn-warning back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>

<div id="divDeactivate">
    <div class="modal fade" deactivate tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deactivateModalLabel"> Record Deactivation </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="passform" action="#">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label data-Display></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" data-Value>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-danger pull-left"> Reactivation is not allowed. It will be <strong> permanently deactivated</strong>. You can not entry with this record.</div>
                                <br />
                                <div class="text-danger pull-left"> Do you want to permanently deactivated the following?</div>
                            </div>
                            <hr />
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Your Password </label><br />
                                    <small class="text-info"> Your password is required for authenticate you to deactive this record</small>
                                    <input type="password" class="form-control" name="Context" placeholder="Enter Your Password" required>
                                </div>
                            </div>
                            <div id="message_box"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger"> <i class="fas fa-times"></i> Deactivate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-modal="Support" data-html2canvas-ignore="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Support/Help <i class="fas fa-exclamation-triangle fa-sm"></i></h4>
            </div>
            <form id="formSupport" method="post" autocomplete="off" action="#" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" data-ScreenshotAlertBody></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-warning"
                                        onclick="captureScreenshot(); return false;">
                                    <i class="fas fa-camera"></i> Capture Screenshot
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="SupportImageUrl" />
                        <div class="col-md-12 d-none" id="divCanvasScreenshot"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <img id="imgCanvasScreenshot" class="img-fluid d-none" alt="Screenshot" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Details</label>
                                <textarea required class="form-control" name="QueryStatement" placeholder="Entire the detais"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearScreenshot(); return false;">Close</button>
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div data-div="print" class="d-none">
    @using (Html.BeginForm("Download", "PDF", FormMethod.Post,
        new { autocomplete = "off", @class = "d-none", id = "formPrint" }))
    {
        <input type="hidden" name="HtmlBody" />
        <input type="hidden" name="FileName" />
    }
</div>

<div class="loading d-none" data-div="loader">
    <div class="loader"></div>
</div>

<!-- Bootstrap v4.3.1 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Select2  4.0.0 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<!-- Toastr -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
<!-- InputMask -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
<!-- datepicker4 - https://gijgo.com/datepicker/configuration -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/js/gijgo.min.js"></script>
<!-- AdminLTE App v3.0.2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.2/js/adminlte.min.js"></script>
<!-- Data Tables -->
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<!-- Data Tables Responsive -->
<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap.min.js"></script>
<!-- Data Tables Buttons -->
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
<!-- Bootstrap4-duallistbox v4.0.1 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap4-duallistbox/4.0.1/jquery.bootstrap-duallistbox.min.js"></script>
<!-- Bootstrap Switch -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js"></script>
<!-- Screenshot -->
<!-- <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script> -->
<script src="~/Content/js/html2canvas.js"></script>

<!-- Support modal and Canvas -->
<script type="text/javascript">
    function captureScreenshot() {
        $('div.modal-backdrop').attr('data-html2canvas-ignore', 'true');
        $('#divCanvasScreenshot').html('');
        html2canvas(document.body).then(function (canvas) {
            document.getElementById('divCanvasScreenshot').appendChild(canvas);
        });
        setTimeout(function () { imgDrawScreenshot(); }, 500);
    }
    function imgDrawScreenshot() {
        $('#divCanvasScreenshot').children('canvas').attr('id', 'screenshotCanvas');
        var canvas = document.getElementById('screenshotCanvas');
        var dataURL = canvas.toDataURL();
        $('#imgCanvasScreenshot').attr('src', dataURL);
        $('#imgCanvasScreenshot').removeClass('d-none');
        $('[name="SupportImageUrl"]').val(dataURL.replace('data:image/png;base64,', ''));
    }
    function clearScreenshot() {
        $('#divCanvasScreenshot').html('');
        $('#imgCanvasScreenshot').attr('src', '');
        $('#imgCanvasScreenshot').addClass('d-none');
        $('[name="SupportImageUrl"]').val('');
        $('form#formSupport')[0].reset();
    }
    $(document).ready(function () {
        $('form#formSupport').submit(function () {
            var eThis = this;
            var data = {
                ScreenshotImageUrl: $(eThis).find('[name="SupportImageUrl"]').val(),
                QueryStatement: $(eThis).find('[name="QueryStatement"]').val(),
                QueriesUrl: location.href
            };
            $.ajax({
                type: "POST",
                url: "@Url.Action("Create", "Support")",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    clearScreenshot();
                    if (data._isSuccess) {
                        if (data._returnObject.TicketNumber != null) {
                            $(eThis).find('[data-ScreenshotAlertBody]').html("Support Ticket Number : " + data._returnObject.TicketNumber);
                        }
                        setDefaultButton(eThis);
                    }
                    else if (data._redirectURL != ''){
                        location.href = data._redirectURL;
                    }
                },
                error: function (response) {
                    console.log(response.responseText);
                    setDefaultButton(eThis);
                }
            });
            return false;
        });
    });
</script>
<!-- Select2, duallist, tooltip, datatable, required, noteditable -->
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.duallistbox').bootstrapDualListbox();
        $('.select2').select2();

        LoadInputDate($('[data-mask]'));
        loadDatatable($('table[data-table]'));
        SetCompanyName();
        SetInputRequired();
        SetInputNotEditable();
    });
    function LoadInputDate(obj) {
        var datamasks;
        if (obj == undefined)
            datamasks = $('[data-mask]');
        else
            datamasks = obj;

        for (var i = 0; i < datamasks.length; i++) {
            var mindate = '01/01/2001'
            if ($(datamasks[i]).data('mindate') != undefined && $(datamasks[i]).data('mindate') != '') {
                mindate = $(datamasks[i]).data('mindate');
            }
            $(datamasks[i]).datepicker({
                uiLibrary: 'bootstrap4',
                format: '@GenericLogic.DateMaskFormat.ToLower()',
                minDate: mindate
            });
            $(datamasks[i]).inputmask('@GenericLogic.DateMaskFormat.ToLower()', { 'placeholder': '@GenericLogic.DateMaskFormat' });
        }
        $('input[data-mask].form-control-sm').parent('div[role=wrapper]').find('i.gj-icon').css({ 'margin-top': '-4px' });
    }
    function loadDatatable(obj) {
        var datatable;
        if (obj === undefined)
            datatable = $('table[data-table]');
        else
            datatable = obj;

        if ($(datatable).data('table') == 'normal') {
            $(datatable).DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true,
                "responsive": true,
                "lengthMenu": [10, 15, 25, 50, 100],
                "pageLength": 15
            });
        }
        else if ($(datatable).data('table') == 'report') {
            $(datatable).DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": true,
                "responsive": true,
                "pageLength": 60,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'pdf', 'print'
                ],
            });
        }
    }

    /* Set Company Name for Mobile View */
    function SetCompanyName() {
        $('.content-header').find('h1').html($('.content-header').find('h1').html() + ' <small class="d-sm-none" style="font-size: 50%;">of @(ViewBag.Company != null? ((CompanyBasic)ViewBag.Company).CompanyName : string.Empty) </small>');
    }
    function SetInputRequired() {
        $('input[required],select[required],textarea[required]').closest('div.form-group').children('label').append('<span class="pull-right" data-toggle="tooltip" data-placement="top" title="requried">&nbsp;&nbsp;<i class="fas fa-asterisk text-danger"></i></span>');
        $('[data-toggle="tooltip"]').tooltip();
    }
    function SetInputNotEditable() {
        $('input[noteditable],select[noteditable]').parent().children('label').append('<span class="pull-right" data-toggle="tooltip" data-placement="top" title="Edit not allowed for this field">&nbsp;&nbsp;<i class="fas fa-times-circle text-info"></i></span>');
        $('[data-toggle="tooltip"]').tooltip();
    }
</script>
<!-- Set active into menu list and Scroll to Top-->
<script type="text/javascript">
    var page = '@ViewBag.Page';
    var currentHref = '';
    if (page == '') {
        currentHref = location.pathname;
    }
    else {
        currentHref = page;
    }
    var matches = currentHref.match(/\d+/g);
    if (matches != null) {
        mstring = currentHref.replace(/\d+/g, '');
        current = mstring.replace(/\/$/, '');
        if (current.includes("Index")) {
            currentH = current.replace("Index", "");
            currentHref = currentH.replace(/\/$/, '');
        }
        else {
            currentHref = mstring.replace(/\/$/, '');
        }
    }
    if (currentHref == '/') { currentHref = "/Home/Index" }
    $('nav.mt-2 a[href="' + currentHref + '"]').addClass('active');
    $('nav.mt-2 a[href="' + currentHref + '"]').parent('li').parent('ul').parent('li').children('a').addClass('active');
    $('nav.mt-2 a[href="' + currentHref + '"]').parent('li').parent('ul').css("display", 'block');
    $('nav.mt-2 a[href="' + currentHref + '"]').parent('li').parent('ul').parent('li').addClass('menu-open');

    // Scroll To Top
    var btn = $('[data-div="backtotop"]');
    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });
    btn.on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({ scrollTop: 0 }, 300);
    });
</script>
<!-- Alert msg toastr -->
<script type="text/javascript">
@{
    ReturnObject returnObject = (ReturnObject)TempData["ReturnMessage"];
}
    $(function () {
        @if (returnObject != null)
        {
            if (returnObject.Status)
            {
                <text> toastr.success("@Html.Raw(returnObject.Message)"); </text>
            }
            else
            {
                <text> toastr.error("@(Html.Raw(returnObject.Message))"); </text>
            }
        }
    });
</script>
<!-- Form Submit Button, Enter disable, Lodar and Print/PDF button -->
<script type="text/javascript">
    loading(false);
    //setInterval(function () { loading(false) }, 10000);

    // Loader Settings ---------------------
    function loading(set) {
        if (set)
            $('[data-div="loader"]').removeClass('d-none');
        else
            $('[data-div="loader"]').addClass('d-none');
    }
    // End Loader Settings

    // a tag - Loader set ------------------
    $('a[href!="#"]').click(function () {
        if (!$(this).attr('href').toLowerCase().includes('javascript')
            && !$(this).attr('href').toLowerCase().includes('#')
            && $(this).attr('loader') != 'false')
            loading(true);
    });
    // End a Tag

    // Form Submit Button ------------------
    var prevHtml = '';
    $('form').submit(function (e) {
        loading(true);
        setLoderButton(this);
    });
    function setLoderButton(e) {
        prevHtml = $(e).find('button[type="submit"]').html();
        $(e).find('button[type="submit"]').html('<i class="fas fa-spinner fa-spin fa-2x"></i>');
        return true;
    }
    function setDefaultButton(e) {
        $(e).find('button[type="submit"]').html(prevHtml);
        loading(false);
    }
    // End Form Submit Button

    // Form : Disable Enter Key on input box,
    // if enter attr not fund at form ---------------------------
    $('form:not([enter]) input:not([enter])').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });
    // End Disable

    // Form : Avoid blank space ---------------------------
    $('form input[type="text"], form textarea, form input[type="password"], form input[type="number"], form input[type="email"]').blur(function () {
        $(this).val($(this).val().trim());
        return;
    });
    // End Form

    // Form : Select-Option - set default value ---------------------------
    setTimeout(function () {
        $('form select[required]:not([autoselect="false"])').each(function () {
            if ($(this).find("option").length == 2
                && $(this).find('option:nth-child(1)').val() == '') {
                $(this).val($(this).find('option:nth-child(2)').val());
                $(this).change();
            }
        });
    }, 1000);
    // End Form

    // Printing Function ---------------------------
    $('print').click(function () {
        var divToPrint = $('[data-print="true"]');
        if (divToPrint != undefined
            && divToPrint != null
            && divToPrint.length > 0) {
            var title = document.title;
            var newWin = window.open('', 'Print-Window');
            newWin.document.open();
            var scriptPrint = '<script>setTimeout(function () { window.print(); }, 1000);<\/script>';
            newWin.document.write('<html><head><style>@@media print {@@page{margin: 1.5cm;size: A4;}}</style>'
                + '<title>' + title + '</title>' +
                '</head><body style="overflow-x: hidden;">'
                + divToPrint.html() + scriptPrint +
                '</body></html>');
            setTimeout(function () {
                newWin.document.close();
                newWin.close();
            }, 1500);
        }
    });
    // End Printing

    // PDF Function ---------------------------
    $('pdf').click(function () {
        // Select.Pdf Download API
        $('[data-div="print"] #formPrint [name="HtmlBody"]').val($('[data-print="true"]').html());
        $('[data-div="print"] #formPrint [name="FileName"]').val(document.title);
        $('[data-div="print"] #formPrint').submit();
        setTimeout(loading, 6000);
    });
    // End PDF
</script>
<!-- Deactivate Modal -->
<script type="text/javascript">
    var Display = null;
    var Value = null;
    var Controller = null;
    var Action = null;
    var Id = null;
    var Id2 = null;

    function DeactivateRecord(e) {
        // -- Set default
        Display = null;
        Value = null;
        Controller = null;
        Action = null;
        Id = null;
        Id2 = null;

        $('[deactivate]').modal({ backdrop: 'static', keyboard: false });

        Display = $(e).data('display');
        Value = $(e).data('value');
        Controller = $(e).data('controller');
        Action = $(e).data('action');
        Id = $(e).data('id');
        Id2 = $(e).data('id2');

        if (Id2 == null || Id2 == undefined || Id2 == '') {
            Id2 = '';
        }

        $('[deactivate]').find('label[data-Display]').html(Display);
        $('[deactivate]').find('div[data-Value]').html(Value);

        $('[deactivate]').find("#message_box").html('');
        $('[deactivate] form [name="Context"]').val('');
    }

    $('[deactivate] form').submit(function (e) {
        var eThis = this;
        e.preventDefault();
        var Url = '';
        if (Id2 != '') {
            Url = '/' + Controller
                + '/' + Action + '/' + Id
                + '/' + Id2
                + "?Context=" + escape($('[deactivate] form [name="Context"]').val());
        }
        else {
            Url = '/' + Controller
                + '/' + Action + '/' + Id
                + "?Context=" + escape($('[deactivate] form [name="Context"]').val());
        }
        $.ajax({
            type: "POST",
            url: Url,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data._isSuccess) {
                    if (data._returnObject > 0) {
                        $('[deactivate] form').html('<div class="modal-body"><div class="row"><div class="col-md-12"><div class="alert alert-success alert-dismissible"><h5><i class="icon fas fa-check"></i> Success!</h5>Record Deleted successfully!!</div></div></div></div>');
                        setTimeout(function () { $("#message_box").fadeOut(); }, 6000);
                        setTimeout(function () { $("[deactivate]").modal("hide"); }, 2000);
                        setTimeout(function () { location.reload(true); }, 2000);
                    }
                    else if (data._returnObject < 0) {
                        $("#message_box").fadeIn();
                        $("#message_box").html("<div class='col-md-12'><small class='text-danger'><strong> Wrong Credentials!! </strong></small></div>");
                    }
                    else {
                        $("#message_box").fadeIn();
                        $("#message_box").html("<div class='col-md-12'><small class='text-danger'><strong> Error to Submit!! </strong><br/>Error Code: " + data._returnObject.ErrorCode + " </small></div>");
                    }
                    setDefaultButton(eThis);
                }
                else if (data._redirectURL != '') {
                    location.href = data._redirectURL;
                }
            },
            error: function (response) {
                console.log(response.responseText);
                setDefaultButton(eThis);
            }
        });
        return false;
    });
</script>
