@using JicoDotNet.Inventory.UI.Models;
@model CompanyModels
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}
@section HeadCss{
    <style type="text/css">
        h5 {
            font-size: 1.125rem;
        }
    </style>
}
<section class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4 class="m-0 text-dark">Organization Detail View</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Company")">Organization</a></li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">
                            Detail View of @Model._company.CompanyName
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <h5 class="m-0">
                                                    <img class="img-thumbnail" style="width:3rem;"
                                                         src="~/Content/images/CompanyLogo.jpg" alt="@Model._company.CompanyName Logo" />
                                                    @Model._company.CompanyName
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pb-0">
                                        <h5 class="float-left" style="font-family:Consolas">Details</h5>
                                        <p class="card-text mb-0">
                                            Name of Organization:
                                            <strong style="font-family:Consolas">@Model._company.CompanyName</strong>
                                        </p>
                                        @if (Model._company.IsGSTRegistered)
                                        {
                                            <p class="card-text mb-0">
                                                GST Number:
                                                <strong style="font-family:Consolas">@Model._company.GSTNumber</strong>
                                                <span>of @GenericLogic.State()[Model._company.GSTStateCode]</span>
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="card-text mb-0">
                                                <strong>GST Unregistred</strong>
                                            </p>
                                        }
                                        <p class="card-text mb-0">
                                            State of Business:
                                            <strong>@(!string.IsNullOrEmpty(Model._company.StateCode)? GenericLogic.State()[Model._company.StateCode] : string.Empty)</strong>
                                        </p>
                                        <hr />
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="float-left" style="font-family:Consolas">Contact Info</h5>
                                                <span class="text-danger ml-3">It will reflect on Invoice</span>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="card-text mb-0">
                                                    Mobile:
                                                    <strong style="font-family:Consolas">@Model._company.Mobile</strong>
                                                </p>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="card-text mb-0">
                                                    Address:
                                                    <strong style="font-family:Consolas">@Model._company.Address</strong>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="card-text mb-0">
                                                    City:
                                                    <strong style="font-family:Consolas">@Model._company.City</strong>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="card-text mb-0">
                                                    Pin Code:
                                                    <strong style="font-family:Consolas">@Model._company.PINCode</strong>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="card-text mb-0">
                                                    Email:
                                                    <strong style="font-family:Consolas">@Model._company.Email</strong>
                                                </p>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="card-text mb-0">
                                                    Website:
                                                    <strong style="font-family:Consolas">
                                                        <a href="@Model._company.WebsiteUrl" target="_blank">@Model._company.WebsiteUrl</a>
                                                    </strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer pb-0">
                                        <h5 class="float-left" style="font-family:Consolas">Bank Info</h5>
                                        <span class="float-right">
                                            <a href="@Url.Action("Bank", "Company")" class="card-link">Add/Edit</a>
                                        </span>
                                        <br />
                                        @if (Model._companyBanks != null && Model._companyBanks.Count > 0)
                                        {
                                            <div id="accordion" class="card-text mb-0">
                                                <div class="card card-primary">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#banks" class="card-header">
                                                        <h4 class="card-title">
                                                            <span class="float-left" style="font-family:Consolas">Bank Details</span>
                                                        </h4>
                                                    </a>
                                                    <div id="banks" class="panel-collapse collapse in show">
                                                        <div class="card-body">
                                                            @for (int i = 0; i < Model._companyBanks.Count; i++)
                                                            {
                                                                <p class="card-text mb-0">Bank#@(i + 1)</p>
                                                                <p class="card-text mb-0">
                                                                    Account Name:
                                                                    <strong style="font-family:Consolas">@Model._companyBanks[i].AccountName</strong><br />
                                                                    <span class="ml-3">
                                                                        Bank:
                                                                        <strong style="font-family:Consolas">@Model._companyBanks[i].BankName</strong>
                                                                    </span><br />
                                                                    <span class="ml-3">
                                                                        IFSC:
                                                                        <strong style="font-family:Consolas">@Model._companyBanks[i].IFSC</strong>
                                                                    </span><br />
                                                                    <span class="ml-3">
                                                                        Account Number:
                                                                        <strong style="font-family:Consolas">@Model._companyBanks[i].AccountNumber</strong>
                                                                    </span><br />
                                                                    @if (Model._companyBanks[i].IsPrintable)
                                                                    {
                                                                        <span class="ml-3 text-primary">
                                                                            <strong style="font-family:Consolas">Will be Print on Invoice</strong>
                                                                        </span><br />
                                                                    }
                                                                </p>
                                                                <hr />
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <p class="card-text mb-0">
                                                No Bank details is added with this Company/Organization.
                                                You can <a href="@Url.Action("Bank", "Company")" class="card-link">Add</a>
                                            </p>
                                        }
                                        <hr />
                                    </div>
                                    <div class="card-footer pt-0">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="float-left" style="font-family:Consolas">Configuration</h5>
                                                <span class="text-danger ml-3">
                                                    Set up your business configuration
                                                    <a href="@Url.Action("Setup", "Configuration")" class="card-link"> &nbsp; here.</a>
                                                </span>
                                                <span class="float-right">
                                                    <a href="@Url.Action("Setup", "Configuration")" class="card-link">Edit</a>
                                                </span>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="card-text mb-0">
                                                    Perishable Product:
                                                    <strong style="font-family:Consolas">@GenericLogic.YesNo()[Model._config.HasPerishableProduct]</strong>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="card-text mb-0">
                                                    Expiration Date:
                                                    <strong style="font-family:Consolas">@GenericLogic.YesNo()[Model._config.HasExpirationDate]</strong>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="card-text mb-0">
                                                    Batch No:
                                                    <strong style="font-family:Consolas">@GenericLogic.YesNo()[Model._config.HasBatchNo]</strong>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="card-text mb-0">
                                                    Currency:
                                                    <strong style="font-family:Consolas">@Model._config.CurrencySymbol (@Model._config.CurrencyCode)</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>