@using JicoDotNet.Inventory.UI.Models;
@model HomeModels

@{
    string LimitText = string.Empty;
}

<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-pink">
            <div class="inner">
                <h3>@Model._homeMasterCount.Product</h3>
                <p>Product</p>
            </div>
            <div class="icon">
                <i class="fas fa-apple-alt"></i>
            </div>
            <span class="small-box-footer">
                Out of Unlimited
            </span>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@Model._homeMasterCount.UnitOfMeasure</h3>
                <p>Measurement Unit</p>
            </div>
            <div class="icon">
                <i class="fas fa-balance-scale"></i>
            </div>
            <span class="small-box-footer">
                Out of Unlimited
            </span>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@Model._homeMasterCount.Warehouse</h3>
                <p>Warehouse</p>
            </div>
            <div class="icon">
                <i class="fas fa-warehouse"></i>
            </div>
            <span class="small-box-footer">
                Out of Unlimited
            </span>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@Model._homeMasterCount.Branch</h3>
                <p>Branch</p>
            </div>
            <div class="icon">
                <i class="fas fa-laptop-house"></i>
            </div>
            <span class="small-box-footer">
                Out of Unlimited
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-info">
            <span class="info-box-icon"><i class="fas fa-money-bill"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Bill to Vendor</span>
                <span class="info-box-number">@Model._homeMasterCount.Bill</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 78%;"></div>
                </div>
                <span class="progress-description">
                    Out of Unlimited/month
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-indigo">
            <span class="info-box-icon"><i class="fas fa-receipt"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Invoice to Customer</span>
                <span class="info-box-number">@Model._homeMasterCount.Invoice</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 60%;"></div>
                </div>
                <span class="progress-description">
                    Out of Unlimited/month
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-orange">
            <span class="info-box-icon"><i class="fas fa-cart-arrow-down"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Purchase Order</span>
                <span class="info-box-number">@Model._homeMasterCount.PurchaseOrder</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 69%"></div>
                </div>
                <span class="progress-description">
                    Unlimited for current month
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-teal">
            <span class="info-box-icon"><i class="fas fa-balance-scale-right"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Sales Order</span>
                <span class="info-box-number">@Model._homeMasterCount.SalesOrder</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 69%"></div>
                </div>
                <span class="progress-description">
                    Unlimited for current month
                </span>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-6 col-md-3 col-6">
        <div class="info-box">
            <span class="info-box-icon bg-pink elevation-1"><i class="fas fa-user-shield"></i></span>
            <div class="info-box-content">
                <span class="info-box-text text-wrap">Customer Type</span>
                <span class="info-box-number">
                    @Model._homeMasterCount.CustomerType
                </span>
            </div>
        </div>
    </div>
    <div class="clearfix hidden-md-up"></div>
    <div class="col-sm-6 col-md-3 col-6">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-blue elevation-1"><i class="fas fa-user-shield"></i></span>
            <div class="info-box-content">
                <span class="info-box-text text-wrap">Customer</span>
                <span class="info-box-number">@Model._homeMasterCount.Customer</span>
            </div>
        </div>
    </div>
    <div class="clearfix hidden-md-up"></div>
    <div class="col-sm-6 col-md-3 col-6">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-user-tag"></i></span>
            <div class="info-box-content">
                <span class="info-box-text text-wrap">Vendor Type</span>
                <span class="info-box-number">@Model._homeMasterCount.VendorType</span>
            </div>
        </div>
    </div>
    <div class="clearfix hidden-md-up"></div>
    <div class="col-sm-6 col-md-3 col-6">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-user-tag"></i></span>
            <div class="info-box-content">
                <span class="info-box-text text-wrap">Vendor</span>
                <span class="info-box-number">@Model._homeMasterCount.Vendor</span>
            </div>
        </div>
    </div>
    <div class="clearfix hidden-md-up"></div>
    <div class="col-sm-6 col-md-3 col-6">
        <div class="info-box">
            <span class="info-box-icon bg-orange elevation-1"><i class="fas fa-border-style"></i></span>
            <div class="info-box-content">
                <span class="info-box-text text-wrap">Purchase Type</span>
                <span class="info-box-number">
                    @Model._homeMasterCount.PurchaseType
                </span>
            </div>
        </div>
    </div>
    <div class="clearfix hidden-md-up"></div>
    <div class="col-sm-6 col-md-3 col-6">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-teal elevation-1"><i class="fas fa-border-none"></i></span>
            <div class="info-box-content">
                <span class="info-box-text text-wrap">Sales Type</span>
                <span class="info-box-number">@Model._homeMasterCount.SalesType</span>
            </div>
        </div>
    </div>
    <div class="clearfix hidden-md-up"></div>
    <div class="col-sm-6 col-md-3 col-6">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-pink elevation-1"><i class="fas fa-money-bill nav-icon"></i></span>
            <div class="info-box-content">
                <span class="info-box-text text-wrap">Bill Type</span>
                <span class="info-box-number">@Model._homeMasterCount.BillType</span>
            </div>
        </div>
    </div>
    <div class="clearfix hidden-md-up"></div>
    <div class="col-sm-6 col-md-3 col-6">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-receipt nav-icon"></i></span>
            <div class="info-box-content">
                <span class="info-box-text text-wrap">Invoice Type</span>
                <span class="info-box-number">@Model._homeMasterCount.InvoiceType</span>
            </div>
        </div>
    </div>
</div>
