@using JicoDotNet.Inventory.UI.Report.Models;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
@using JicoDotNet.Inventory.Core.Report
@model PurchaseReportModels

<table class="table table-striped table-bordered dt-responsive nowrap" data-table="report">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Code</th>
            <th>HSN/SAC</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>SGST/UGST</th>
            <th>CGST</th>
            <th>IGST</th>
            <th>Total Tax</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model._rProductPurchase != null)
        {
            foreach (ResponseProductPurchaseResult rProductPurchase in Model._rProductPurchase)
            {
                <tr>
                    <td>
                        @rProductPurchase.ProductName
                    </td>
                    <td>
                        @rProductPurchase.ProductCode
                    </td>
                    <td>
                        @rProductPurchase.HSNSAC
                    </td>
                    <td>
                        @rProductPurchase.TotalPrice.ToDisplayDecimal()
                    </td>
                    <td>
                        @rProductPurchase.TotalQuantity.ToDisplayDecimal()
                    </td>
                    <td>
                        @rProductPurchase.UnitOfMeasureName
                    </td>
                    <td>
                        @rProductPurchase.TotalSGST.ToDisplayDecimal()
                    </td>
                    <td>
                        @rProductPurchase.TotalCGST.ToDisplayDecimal()
                    </td>
                    <td>
                        @rProductPurchase.TotalIGST.ToDisplayDecimal()
                    </td>
                    <td>
                        @rProductPurchase.TotalTax.ToDisplayDecimal()
                    </td>
                    <td>
                        @rProductPurchase.TotalBilledAmount.ToDisplayDecimal()
                    </td>
                </tr>
            }
        }
    </tbody>
</table>