@using JicoDotNet.Inventory.UI.Models;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
@model GoodsReceiveNoteModels

<li class="item bg-white" style="margin-bottom:0.5rem;" data-li="@Model._len">
    <div class="product-info" style="margin:0px 1rem;">
        <div class="row">
            <div class="col-md-4 col-9">
                <div class="form-group">
                    <div class="form-group">
                        <label>Product Name/Code</label>
                        <select class="form-control form-control-sm select2" name="GoodsReceiveNoteDirectDetails[@Model._len].ProductId"
                                autofocus onchange="ProductAdd(this.value, @Model._len);" required>
                            <option value="">--Please Select--</option>
                            @for (int i = 0; i < Model._products.Count; i++)
                            {
                                <option value="@Model._products[i].ProductId">
                                    @Model._products[i].ProductName @if (!string.IsNullOrEmpty(Model._products[i].ProductCode))
                                    {<text> (@Model._products[i].ProductCode) </Text>}
                                </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-7 d-none d-sm-block"></div>
            <div class="col-md-1 col-3">
                <button type="button" onclick="$(this).parents('li').find('input[name=\'GoodsReceiveNoteDirectDetails[@Model._len].ReceivedQuantity\']').val('0'); $(this).parents('li').hide().fadeOut();"
                        class="btn bg-danger btn-danger mt-3 text-center float-right">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
        <div class="row" data-grn-product="@Model._len">

        </div>
    </div>
</li>
<script type="text/javascript">
    $(function () {
        $('.select2').select2();
    });
</script>