@using JicoDotNet.Inventory.UI.Models;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
@model GoodsReceiveNoteModels

@{
    ViewBag.Title = "Goods Direct Receive";
    ViewBag.Page = "/GRN/Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Goods Direct Receive</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "GRN")">Goods Receive Note</a></li>
                    <li class="breadcrumb-item active">Goods Receive</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">
                            Goods Received - Direct
                        </h3>
                    </div>
                    @using (Html.BeginForm("ReceiveDirect", "GRN",
                        FormMethod.Post, new { autocomplete = "off" }))
                    {
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                                <a href="@Url.Action("Index", "GRN", new { id = string.Empty })" class="btn btn-danger"> <i class="fas fa-times"></i> Cancel</a>
                                <button type="reset" class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Goods Receive at</label>
                                        <input type="text" name="CompanyId" hidden value="@Model._company.CompanyId" />
                                        <input class="form-control form-control-sm" value="@Model._company.CompanyName" disabled readonly />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Warehouse Name & Branch</label>
                                        <select class="form-control form-control-sm" name="WareHouseId" required autofocus>
                                            <option value="">-- Select --</option>
                                            @foreach (WareHouse wareHouse in Model._wareHouses)
                                            {
                                                <option value="@wareHouse.WareHouseId">
                                                    @wareHouse.WareHouseName of @wareHouse.BranchName
                                                    @if (!string.IsNullOrEmpty(wareHouse.BranchCode))
                                                    {<text>(@wareHouse.BranchCode)</text>}
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Goods Receive Date</label>
                                        <small>Day/Month/Year</small>
                                        <input type="text" name="GRNDate" class="form-control form-control-sm"
                                               placeholder="Purchase Order Date" required data-mask readonly
                                               value="@GenericLogic.IstNow.ToDateMaskString()" />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Vendor & GST Number</label>
                                        <select class="form-control form-control-sm" name="VendorId" required
                                                onchange="changeVendor(this);">
                                            <option value="">--Please Select--</option>
                                            @for (int i = 0; i < Model._vendors.Count; i++)
                                            {
                                                <option value="@Model._vendors[i].VendorId" data-GSTRegistered="@Model._vendors[i].IsGSTRegistered">
                                                    @Model._vendors[i].CompanyName - @(((Model._vendors[i].IsGSTRegistered) ? Model._vendors[i].GSTNumber : "GST Unregistred"))
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Purchase Type</label>
                                        <select class="form-control form-control-sm" name="PurchaseTypeId" required>
                                            <option value="">--Please Select--</option>
                                            @for (int i = 0; i < Model._purchaseTypes.Count; i++)
                                            {
                                                <option value="@Model._purchaseTypes[i].PurchaseTypeId">
                                                    @Model._purchaseTypes[i].PurchaseTypeName
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Remarks</label>
                                        <textarea name="Remarks" class="form-control form-control-sm" placeholder="Enter Remarks" style="height:38px;"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Vendor DO/Chalan No</label>
                                        <input type="text" name="VendorDONumber" placeholder="Do/Chalan Number" class="form-control form-control-sm" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Vendor Invoice No</label>
                                        <input type="text" name="VendorInvoiceNumber" class="form-control form-control-sm"
                                               placeholder="Invoice Number" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Vendor Invoice Date</label>
                                        <small>Day/Month/Year</small>
                                        <input type="text" name="VendorInvoiceDate" class="form-control form-control-sm"
                                               placeholder="Invoice Date" data-mask readonly />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                    <label>
                                        Product Item Details
                                        <span class="pull-right" data-toggle="tooltip" data-placement="top" title="requried">&nbsp;&nbsp;<i class="fas fa-asterisk text-danger"></i></span>
                                    </label>
                                </div>
                                <div class="col-md-8"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-success">
                                        <div class="card-header bg-teal">
                                            <h3 class="card-title">Products Details</h3>
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool btn btn-outline-warning btn-flat" onclick="AddRows();"
                                                        style="background-color: #ffc107; color: #fff;"
                                                        data-toggle="tooltip" data-placement="top" title="Add New Item">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body" style="overflow-x:scroll;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="products-list" data-grn="products"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Order Amount</label>
                                                        <input type="text" name="PurchaseOrderAmount"
                                                               class="form-control form-control-sm" value="0.0"
                                                               placeholder="Order Amount" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group grn-status" id="poTaxAmtDiv">
                                                        <label>Order Tax Amount</label>
                                                        <input type="text" name="PurchaseOrderTaxAmount"
                                                               class="form-control form-control-sm" value="0.0"
                                                               placeholder="Order Tax Amount" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Order Total Amount</label>
                                                        <input type="text" name="PurchaseOrderTotalAmount"
                                                               class="form-control form-control-sm" value="0.0"
                                                               placeholder="Order Total Amount" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Bill Generated</label>
                                                        <select class="form-control form-control-sm" name="IsBillGenerated"
                                                                onchange="if (this.value == 'false') { document.getElementsByName('IsPaid')[0].value = 'false' }"
                                                                required>
                                                            <option value="">-- Select --</option>
                                                            @for (int i = 0; i < Model._YesNo.Count; i++)
                                                            {
                                                                <option value="@Model._YesNo.Keys.ElementAt(i).ToString().ToLower()">
                                                                    @Model._YesNo[Model._YesNo.Keys.ElementAt(i)]
                                                                </option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Payment Made</label>
                                                        <select class="form-control form-control-sm" name="IsPaid"
                                                                onchange="if (this.value == 'true') { document.getElementsByName('IsBillGenerated')[0].value = 'true' }"
                                                                required>
                                                            <option value="">-- Select --</option>
                                                            @for (int i = 0; i < Model._YesNo.Count; i++)
                                                            {
                                                                <option value="@Model._YesNo.Keys.ElementAt(i).ToString().ToLower()">
                                                                    @Model._YesNo[Model._YesNo.Keys.ElementAt(i)]
                                                                </option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                            <a href="@Url.Action("Index", "GRN", new { id = string.Empty })" class="btn btn-danger"> <i class="fas fa-times"></i> Cancel</a>
                            <button type="reset" class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section BodyScript{
    <script type="text/javascript">
    var CurrencySymbol = '@(Model._config.CurrencySymbol)';
    var len = 0;
    var Products = [];
    $(document).ready(function () {
        $('input.form-control-sm, select.form-control-sm').parent('div.input-group').children('div.input-group-prepend, div.input-group-append').css("height", "31px");
        $('span[data-CurrencySymbol]').html('@(Model._config.CurrencySymbol)');

        $.ajax({
            url: "@Url.Action("ProductIn", "GRN")",
            dataType: "JSON",
            success: function (result) {
                Products = result;
            }
        });
    });
    function changeVendor(e) {
        e.classList.remove('is-invalid');
        e.classList.remove('is-valid');
        $("[data-grn='products']").html('');
        AddRows();
    }
    function AddRows() {
        if ($('[name="VendorId"]').val() != '') {
            $('[name="VendorId"]').removeClass('is-invalid');
            $('[name="VendorId"]').addClass('is-valid');
            $.ajax({
                type: "POST",
                url: "@Url.Action("ReceiveDirectBlock", "GRN", new { id = string.Empty })".replace(/&amp;/g, '&') + "/" + escape(btoa(len)),
                dataType: "HTML",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(Products),
                success: function (result) {
                    $('[data-grn="products"]').append(result);
                    len++;
                }
            });
        }
        else {
            $('[name="VendorId"]').focus();
            $('[name="VendorId"]').removeClass('is-valid');
            $('[name="VendorId"]').addClass('is-invalid');
        }
    }
    function ProductAdd(ProductId, len) {
        var Gst = 0;
        if ($('[name="VendorId"]').find('option[value="' + $('[name="VendorId"]').val() + '"]').data('gstregistered') == "True") {
            Gst = 1;
        }
        $.ajax({
            type: "POST",
            url: "@Url.Action("ReceiveDirectProduct", "GRN", new { id = string.Empty })".replace(/&amp;/g, '&') + "/" + escape(btoa(ProductId)) + "/" + len + "?Gst=" + Gst,
            dataType: "HTML",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(Products),
            success: function (result) {
                $('[data-grn-product="' + len + '"]').html(result);
            }
        });
    }

    function AmountCalculate(e, liTag) {

    }
    </script>
}