@using JicoDotNet.Inventory.UI.Models;
@using JicoDotNet.Inventory.Core.Models;
@model ProductModels

@{
    ViewBag.Title = "Product " + ((Model._product != null) ? "Update" : "Add");
    ViewBag.Page = "/Product/Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Product")">Product</a></li>
                    <li class="breadcrumb-item active"><a href="javascript: void(0);">@((Model._product != null) ? "Update" : "Add")</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">
                            @if (Model._product != null)
                            {
                                <text> Update </text>
                            }
                            else
                            {
                                <text> Add </text>
                            }
                            Product
                        </h3>
                    </div>
                    @using (Html.BeginForm("Add", "Product",
                        new
                        {
                            id = ((Model._product != null) ?
                            Html.UrlIdEncrypt(Model._product.ProductId.ToString(), false) : string.Empty)
                        },
                        FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data" }))
                    {
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-7">
                                    <div class="form-group">
                                        <label>Product Type</label>
                                        <span class="float-right">
                                            <a href="@Url.Action("Type", "Product")" class="card-link">Add/Edit</a>
                                        </span>
                                        <select class="form-control form-control-sm" name="ProductTypeId" required>
                                            <option value="">-- Select --</option>
                                            @foreach (ProductType productType in Model._productTypes)
                                            {
                                                <option value="@productType.ProductTypeId"
                                                        @if (Model._product != null) { if (productType.ProductTypeId == Model._product.ProductTypeId) { <text> selected </text> } }>
                                                    @productType.ProductTypeName
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3  col-5">
                                    <div class="form-group">
                                        <label>Goods/Service</label><br />
                                        <input type="checkbox" onchange="IsGoodsChange(this);"
                                               @if (Model._product != null) { if (Model._product.IsGoods) { <text> checked </text>  } } else { <text> checked </text> }
                                               data-bootstrap-switch
                                               data-on-text="Goods"
                                               data-off-text="Service"
                                               data-off-color="danger"
                                               data-on-color="success">
                                        <input type="hidden" name="IsGoods" value="true" />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Item/Product/Service Name</label>
                                        <input type="text" name="ProductName" class="form-control form-control-sm" maxlength="500"
                                               @if (Model._product != null) { <text> value="@(Model._product.ProductName)" </text> }
                                               placeholder="Product Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Product Code/Package/Size</label>
                                        <input type="text" name="ProductCode" class="form-control form-control-sm" maxlength="250"
                                               @if (Model._product != null) { <text> value="@(Model._product.ProductCode)" </text> }
                                               placeholder="Product Code" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Brand Name</label>
                                        <input type="text" name="Brand"
                                               class="form-control form-control-sm" maxlength="250"
                                               @if (Model._product != null) { <text> value="@(Model._product.Brand)" </text> }
                                               placeholder="Brand Name" />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Product Category</label>
                                        <span class="pull-right" data-toggle="tooltip" data-placement="top" title="this field indicates purchasable or saleable product">
                                            &nbsp;&nbsp;<i class="fas fa-info-circle text-success"></i>
                                        </span>
                                        <select class="form-control form-control-sm" name="ProductInOut" required>
                                            <option value="">-- Select --</option>
                                            @for (int i = 0; i < Model._ProductCategory.Count; i++)
                                            {
                                                <option value="@Model._ProductCategory.Keys.ElementAt(i)"
                                                        @if (Model._product != null) { if (Model._ProductCategory.Keys.ElementAt(i) == Model._product.ProductInOut) { <text> selected </text> } }>
                                                    @Model._ProductCategory[Model._ProductCategory.Keys.ElementAt(i)]
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Measurement Unit</label>
                                        <span class="float-right">
                                            <a href="@Url.Action("Unit", "Measure")" class="card-link">Add/Edit</a>
                                        </span>
                                        <select class="form-control form-control-sm" name="UnitOfMeasureId" required noteditable
                                                @if (Model._product != null) { <text> disabled </text> }>
                                            <option value="">-- Select --</option>
                                            @foreach (UnitOfMeasure unitOfMeasure in Model._unitOfMeasures)
                                            {
                                                <option value="@unitOfMeasure.UnitOfMeasureId"
                                                        @if (Model._product != null) { if (Model._product != null) { if (unitOfMeasure.UnitOfMeasureId == Model._product.UnitOfMeasureId) { <text> selected </text> } } }>
                                                    @unitOfMeasure.UnitOfMeasureName
                                                </option>
                                            }
                                        </select>
                                        @if (Model._product != null)
                                        {
                                            <small class="text-danger">Not Editable</small>
                                        }
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <label>Product Tax & Cost</label>
                            <small class="ml-3">
                                <span class="text-primary">You can alter/edit later, acording to your need.</span>
                            </small>
                            @if (Model._product != null)
                            {
                                <small class="mb-3 d-block">
                                    <span class="text-danger">If you alter/edit HSN Code or Tax Percent(%), it won't reflect your previous purchase or sales record.</span>
                                </small>
                            }
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>HSN/SAC Code</label>
                                        <input type="text" name="HSNSAC" class="form-control form-control-sm" maxlength="8"
                                               @if (Model._product != null) { <text> value="@(Model._product.HSNSAC)" </text> }
                                               placeholder="HSN/SAC Code" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>GST/Tax Percent (%)</label>
                                        <input type="number" step="0.01" name="TaxPercentage" class="form-control form-control-sm"
                                               @if (Model._product != null) { <text> value="@(Model._product.TaxPercentage.ToDisplayDecimal())" </text> }
                                               placeholder="Tax (%)" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Default Purchase Price</label>
                                        <span class="float-right">
                                            <span class="text-danger">Excluding Tax</span>
                                        </span>
                                        <input type="number" step="0.0001" name="PurchasePrice" class="form-control form-control-sm"
                                               @if (Model._product != null) { <text> value="@(Model._product.PurchasePrice.ToDisplayDecimal())" </text> }
                                               placeholder="Default Purchase Price" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Default Sale Price</label>
                                        <span class="float-right">
                                            <span class="text-danger">Excluding Tax</span>
                                        </span>
                                        <input type="number" step="0.0001" name="SalePrice" class="form-control form-control-sm"
                                               @if (Model._product != null) { <text> value="@(Model._product.SalePrice.ToDisplayDecimal())" </text> }
                                               placeholder="Default Sale Price" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-isgoods="true">
                                <div class="col-md-12">
                                    <hr />
                                    <label>Product Attribute</label>
                                    <span class="ml-3 text-primary">
                                        You can modify configuration of your company for product attributes.
                                        <a href="@Url.Action("Setup", "Configuration", new { id = string.Empty })">Here. <i class="fas fa-cogs"></i></a>
                                    </span>
                                    @if (Model._config.HasPerishableProduct
                                        || Model._config.HasExpirationDate
                                        || Model._config.HasBatchNo)
                                    {
                                        <span class="mb-3 d-block">
                                            <span class="text-danger">You won't be allowed to alter/edit these fields, once you submitted.</span>
                                        </span>
                                    }
                                </div>
                                @if (Model._config.HasPerishableProduct)
                                {
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Is this perishable product</label>
                                            <select class="form-control form-control-sm" name="IsPerishableProduct" required noteditable
                                                    @if (Model._product != null) { <text> disabled </text> }>
                                                <option value="">-- Select --</option>
                                                @for (int i = 0; i < Model._YesNo.Count; i++)
                                                {
                                                    <option value="@Model._YesNo.Keys.ElementAt(i).ToString().ToLower()"
                                                            @if (Model._product != null) { if (Model._YesNo.Keys.ElementAt(i) == Model._product.IsPerishableProduct) { <text> selected </text> } }>
                                                        @Model._YesNo[Model._YesNo.Keys.ElementAt(i)]
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                                @if (Model._config.HasExpirationDate)
                                {
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Allow Expiry Date</label>
                                            <select class="form-control form-control-sm" name="HasExpirationDate" required noteditable
                                                    @if (Model._product != null) { <text> disabled </text> }>
                                                <option value="">-- Select --</option>
                                                @for (int i = 0; i < Model._YesNo.Count; i++)
                                                {
                                                    <option value="@Model._YesNo.Keys.ElementAt(i).ToString().ToLower()"
                                                            @if (Model._product != null) { if (Model._YesNo.Keys.ElementAt(i) == Model._product.HasExpirationDate) { <text> selected </text> } }>
                                                        @Model._YesNo[Model._YesNo.Keys.ElementAt(i)]
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                                @if (Model._config.HasBatchNo)
                                {
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Allow Batch no.</label>
                                            <select class="form-control form-control-sm" name="HasBatchNo" required noteditable
                                                    @if (Model._product != null) { <text> disabled </text> }>
                                                <option value="">-- Select --</option>
                                                @for (int i = 0; i < Model._YesNo.Count; i++)
                                                {
                                                    <option value="@Model._YesNo.Keys.ElementAt(i).ToString().ToLower()"
                                                            @if (Model._product != null) { if (Model._YesNo.Keys.ElementAt(i) == Model._product.HasBatchNo) { <text> selected </text> } }>
                                                        @Model._YesNo[Model._YesNo.Keys.ElementAt(i)]
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                            </div>
                            <hr />
                            <label>Other Details</label>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Product Details</label>
                                        <span class="float-right">
                                            <span class="text-danger">Max: 500 char</span>
                                        </span>
                                        <input type="text" name="Description"
                                               class="form-control form-control"
                                               placeholder="Enter Product Details"
                                               value="@if (Model._product != null) { <text>@Model._product.Description</text>  }" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>SKU</label>
                                        <input type="text" name="SKU" class="form-control form-control-sm" maxlength="125"
                                               @if (Model._product != null) { <text> value="@(Model._product.SKU)" </text> }
                                               placeholder="SKU" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label>Product Image</label><br />
                                                <div class="btn btn-default btn-file">
                                                    <i class="fas fa-paperclip"></i> Product Image
                                                    <input type="file" name="ProductImageUrl">
                                                </div>
                                                <p class="help-block">Max. 500KB</p>
                                            </div>
                                        </div>
                                        @if (Model._product != null && !string.IsNullOrEmpty(Model._product.ProductImageUrl))
                                        {
                                            <div class="col-md-5" style="margin-top:15px;">
                                                <a href="@Model._product.ProductImageUrl" target="_blank">
                                                    <img style="max-width:85px;" class="attachment-img" src="@Model._product.ProductImageUrl"
                                                         alt="@if (Model._product != null) { <text> @(Model._product.ProductName) </text> }" />
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            @if (Model._product == null)
                            {
                                <div data-isgoods="true">
                                    <hr />
                                    <label>Stock Details</label>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Have Current/Opening Stock</label>
                                                <select class="form-control form-control-sm" name="HaveOpeningStock">
                                                    <option value="">-- Select --</option>
                                                    @for (int i = 0; i < Model._YesNo.Count; i++)
                                                    {
                                                        <option value="@Model._YesNo.Keys.ElementAt(i).ToString().ToLower()">
                                                            @Model._YesNo[Model._YesNo.Keys.ElementAt(i)]
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="card-footer">
                            @if (Model._product != null)
                            {
                                <button type="submit" class="btn btn-warning"> <i class="fas fa-edit"></i> Update </button>
                                <a href="@Url.Action("Index", "Product", new { id = string.Empty })" class="btn btn-danger"> <i class="fas fa-times"></i> Cancel</a>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                            }
                            <button type="reset" class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section BodyScript{
    <script type="text/javascript">
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });
        function IsGoodsChange(e) {
            $("[name='IsGoods']").val($(e).is(':checked'));
            if (!$(e).is(':checked')) {
                $('[data-isgoods="true"]').find('select').val('false');
                $('[data-isgoods="true"]').hide();
            }
            else {
                $('[data-isgoods="true"]').find('select').val('');
                $('[data-isgoods="true"]').show();
            }
        }
    </script>
}