@using JicoDotNet.Inventory.UI.Models;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
@using JicoDotNet.Inventory.Core.Models
@model ProductModels

@{
    ViewBag.Title = "Add Opening Stock (Bulk)";
    ViewBag.Page = "/Product/Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product's Opening Stock</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Product")">Product</a></li>
                    <li class="breadcrumb-item active"><a href="javascript: void(0);">Bulk Opening Stock</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">
                            Add Opening Stock (Bulk)
                        </h3>
                    </div>
                    @if (Model._product != null)
                    {
                        using (Html.BeginForm("BulkOpeningStock", "Product",
                            new { id = Model._product.ProductId },
                            FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data" }))
                        {
                            <div class="card-footer">
                                <span class="float-right">
                                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                                    <a href="@Url.Action("Index", "Product", null)" class="btn btn-danger"> <i class="fas fa-times"></i> Cancel</a>
                                    <button type="reset" class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card card-widget widget-user-2">
                                            <div class="widget-user-header">
                                                @if (!string.IsNullOrEmpty(@Model._product.ProductImageUrl))
                                                {
                                                    <div class="widget-user-image">
                                                        <img class="img-fluid elevation-2" src="@Model._product.ProductImageUrl" alt="@Model._product.ProductName">
                                                    </div>
                                                }
                                                <div @if (string.IsNullOrEmpty(@Model._product.ProductImageUrl)) { <text> style="margin-left:-75px;" </text> }>
                                                    <h3 class="widget-user-username">@Model._product.ProductName</h3>
                                                    <h5 class="widget-user-desc">@Model._product.ProductCode</h5>
                                                </div>
                                            </div>
                                            <div class="card-footer p-0">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <span class="nav-link float-right">
                                                            Attributes
                                                        </span>
                                                    </li>
                                                    @if (Model._product.IsPerishableProduct)
                                                    {
                                                        <li class="nav-item">
                                                            <span class="nav-link text-success">
                                                                Perishable
                                                                <span class="float-right badge badge-success"><i class="fas fa-check"></i></span>
                                                            </span>
                                                        </li>
                                                    }
                                                    @if (Model._product.HasExpirationDate)
                                                    {
                                                        <li class="nav-item">
                                                            <span class="nav-link text-danger">
                                                                Has Expiry Date
                                                                <span class="float-right badge badge-success"><i class="fas fa-check"></i></span>
                                                            </span>
                                                        </li>
                                                    }
                                                    @if (Model._product.HasBatchNo)
                                                    {
                                                        <li class="nav-item">
                                                            <span class="nav-link text-warning">
                                                                Has Batch No
                                                                <span class="float-right badge badge-success"><i class="fas fa-check"></i></span>
                                                            </span>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-none d-sm-block">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <strong>Category</strong>
                                                        <p class="text-muted">
                                                            @if (Model._product.ProductInOut == 0)
                                                            {
                                                                <span>Purchase/Sale Both</span>
                                                            }
                                                            @if (Model._product.ProductInOut == 1)
                                                            {
                                                                <span>Only Purchase</span>
                                                            }
                                                            @if (Model._product.ProductInOut == 2)
                                                            {
                                                                <span>Only Sale</span>
                                                            }
                                                        </p>
                                                    </div>
                                                    <div class="col-6">
                                                        <strong>Unit</strong>
                                                        <p class="text-muted">
                                                            @Model._product.UnitOfMeasureName
                                                        </p>
                                                    </div>
                                                    <div class="col-6">
                                                        <strong>SKU</strong>
                                                        <p class="text-muted">
                                                            @Model._product.SKU
                                                        </p>
                                                    </div>
                                                    <div class="col-6">
                                                        <strong>Details</strong>
                                                        <p class="text-muted">
                                                            @Model._product.Description
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-warning alert-dismissible">
                                            <h5><i class="icon fas fa-info"></i> Info!</h5>
                                            Olny CSV file(s) Accepted. Download a sample file. or you can check online how to create csv file. Don't use comma(,) in Headers of CSV file.
                                            <div class="font-weight-bold">
                                                <a href="@Url.Action("DownloadCSV", "Product", new { id = Html.UrlIdEncrypt(Model._product.ProductId, false) })" loader="false" class="card-link text-danger">
                                                    Download Sample CSV file
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="callout callout-info">
                                            <h5>Choose file (CSV) <span class="text-danger font-weight-bold">*</span></h5>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" required
                                                               accept=".csv" name="CSV" onchange="validFile(this); return false;" />
                                                        <label class="custom-file-label">Choose file (*.CSV)</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <button type="button" style="margin:0; padding:0; border:none;" onclick="OpStkCsvUpLd();">
                                                            <span class="input-group-text">Upload</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="callout callout-success">
                                            <h5>Warehouse <span class="text-danger font-weight-bold">*</span></h5>
                                            <div class="form-group">
                                                <select class="form-control" name="WareHouseId" required>
                                                    <option value="">--Select--</option>
                                                    @foreach (WareHouse wareHouse in Model._wareHouses)
                                                    {
                                                        <option value="@wareHouse.WareHouseId">
                                                            @wareHouse.WareHouseName of @wareHouse.BranchName
                                                            @if (!string.IsNullOrEmpty(wareHouse.BranchCode))
                                                            {
                                                                <text> - @wareHouse.BranchCode</text>
                                                            }
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row d-none" data-op-stock-grid>
                                    <div class="col-md-12">
                                        <dl>
                                            <dt>Column Mappimg</dt>
                                            <dd>Link your file with column name.</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group" style="margin-bottom:0;">
                                                    <label>Current Stock <i class="fas fa-asterisk text-danger"></i></label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select class="form-control form-control-sm" required name="Stock" data-op-stock="Stock">
                                                        <option value="">--Select Header--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="text-info">Only decimal data. Like: 14, 0.12, 1.02</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group" style="margin-bottom:0;">
                                                    <label>Goods Receive Date</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-6">
                                                <div class="form-group">
                                                    <select class="form-control form-control-sm"
                                                            onchange="if (this.value != '') { document.getElementsByName('GRNDateFormat')[0].setAttribute('required', 'required'); } else { document.getElementsByName('GRNDateFormat')[0].removeAttribute('required'); }"
                                                            name="GRNDate" data-op-stock="GRNDate">
                                                        <option value="">--Select Header--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-6">
                                                <div class="form-group">
                                                    <select class="form-control form-control-sm" name="GRNDateFormat">
                                                        <option value="">--Date Format--</option>
                                                        <option value="dd-MM-yyyy">dd-MM-yyyy</option>
                                                        <option value="dd/MM/yyyy">dd/MM/yyyy</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        @if (Model._product.HasBatchNo)
                                        {
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group" style="margin-bottom:0;">
                                                        <label>Batch Number</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <select class="form-control form-control-sm" name="BatchNo" data-op-stock="BatchNo">
                                                            <option value="">--Select Header--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @if (Model._product.HasExpirationDate)
                                        {
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group" style="margin-bottom:0;">
                                                        <label>Expiry Date</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-6">
                                                    <div class="form-group">
                                                        <select class="form-control form-control-sm"
                                                                onchange="if (this.value != '') { document.getElementsByName('ExpiryDateFormat')[0].setAttribute('required', 'required'); } else { document.getElementsByName('ExpiryDateFormat')[0].removeAttribute('required'); }"
                                                                name="ExpiryDate" data-op-stock="ExpiryDate">
                                                            <option value="">--Select Header--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-6">
                                                    <div class="form-group">
                                                        <select class="form-control form-control-sm" name="ExpiryDateFormat">
                                                            <option value="">--Date Format--</option>
                                                            <option value="dd-MM-yyyy">dd-MM-yyyy</option>
                                                            <option value="dd/MM/yyyy">dd/MM/yyyy</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @if (Model._product.IsPerishableProduct)
                                        {
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group" style="margin-bottom:0;">
                                                        <label>Perishable</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <input type="hidden" name="IsPerishable"
                                                               value="@Model._product.IsPerishableProduct.ToString().ToLower()" readonly />
                                                        <input class="form-control form-control-sm" value="YES" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group" style="margin-bottom:0;">
                                                    <label>Remarks</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select class="form-control form-control-sm" name="Remarks" data-op-stock="Remarks">
                                                        <option value="">val</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <span class="text-primary">
                                                    Only <span class="font-weight-bold text-danger">Current Stock</span> is required field. All other fields are optional
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                                <a href="@Url.Action("Index", "Product", null)" class="btn btn-danger"> <i class="fas fa-times"></i> Cancel</a>
                                <button type="reset" class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
                            </div>
                        }
                    }
                    else
                    {
                        @Html.Partial("_PartialOpeningStockNotAllowed")
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function validFile(e) {
        try {
            var file = e.files[0];
            if (file != undefined || file != null) {
                $(e).parent('div').parent('div').parent('div').find('p').remove();
                if ((file.size / 1000) < 4000) {
                    if (validateFileupload(file.name)) {
                        $(e).parent('div').find('label').html(file.name);
                        $(e).parent('div').parent('div').parent('div').find('p').remove();
                        return;
                    }
                    else {
                        $(e).parent('div').parent('div').parent('div').append('<p class="text-danger">Invalid file type</p>')
                    }
                }
                else {
                    $(e).parent('div').parent('div').parent('div').append('<p class="text-danger">File Size can not be bigger then 4MB</p>')
                }
                $(e).parent('div').find('label').html('Choose file (*.CSV)');
                e.value = '';
            }
        } catch (ex) {
            console.log(ex);
            $(e).parent('div').find('label').html('Choose file (*.CSV)');
            e.value = '';
        }
    }

    function validateFileupload(fileName) {
        var allowed_extensions = new Array("csv");
        var file_extension = fileName.split('.').pop().toLowerCase();

        for (var i = 0; i <= allowed_extensions.length; i++) {
            if (allowed_extensions[i] == file_extension) {
                return true;
            }
        }
        return false;
    }
    function OpStkCsvUpLd() {
        try {
            // Get our CSV file from upload
            var file = $('input[name="CSV"]')[0].files[0];

            // Instantiate a new FileReader
            var reader = new FileReader();

            // Read our file to an ArrayBuffer
            reader.readAsArrayBuffer(file);
        } catch (e) {
            console.log(e);
            $('[data-op-stock-grid]').addClass('d-none');
        }

        // Handler for onloadend event.  Triggered each time the reading operation is completed (success or failure)
        reader.onloadend = function (evt) {
            try {
                // Get the Array Buffer
                var data = evt.target.result;

                // Grab our byte length
                var byteLength = data.byteLength;

                // Convert to conventional array, so we can iterate though it
                var ui8a = new Uint8Array(data, 0);

                // Used to store each character that makes up CSV header
                var headerString = '';

                // Iterate through each character in our Array
                for (var i = 0; i < byteLength; i++) {
                    // Get the character for the current iteration
                    var char = String.fromCharCode(ui8a[i]);

                    // Check if the char is a new line
                    if (char.match(/[^\r\n]+/g) !== null) {

                        // Not a new line so lets append it to our header string and keep processing
                        headerString += char;
                    } else {
                        // We found a new line character, stop processing
                        break;
                    }
                }

                // Split our header string into an array
                window.headers = headerString.split(',');

                if (window.headers.length > 0) {
                    $('[data-op-stock-grid]').removeClass('d-none');
                }
                var opStock = $('[data-op-stock]');
                for (var i = 0; i < opStock.length; i++) {
                    var html = '<option value="">--Select Header--</option>';
                    for (var j = 0; j < window.headers.length; j++) {
                        html += '<option value="' + j + '">' + window.headers[j] + '</option>';
                    }
                    $($('[data-op-stock]')[i]).html(html);
                }

                // Convert entire ArrayBuffer to string --avoided so not all of ArrayBuffer would have to come into memory
                //var arrayToStream = String.fromCharCode.apply(null, new Uint8Array(data));
                // Splits on any new line characters and grabs first row, assuming it is headers
                //var firstLine = arrayToStream.match(/[^\r\n]+/g)[0];
                // Splits on a delimiter
                //var delimiterSplit = firstLine.split(',');
            } catch (e) {
                console.log(e);
                $('[data-op-stock-grid]').addClass('d-none');
            }
        };
    }
</script> 