@using JicoDotNet.Inventory.UI.Models;
@using JicoDotNet.Inventory.Core.Models;
@model ProductModels

@{
    ViewBag.Title = "Product Type";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product Type</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("Type","Product")">Product Type</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">
                            @if (Model._productType != null)
                            {
                                <text> Update </text>
                            }
                            else
                            {
                                <text> Add </text>
                            }
                            Product Type
                        </h3>
                    </div>
                    @using (Html.BeginForm("Type", "Product",
                        new
                        {
                            id = ((Model._productType != null) ?
                            Html.UrlIdEncrypt(Model._productType.ProductTypeId.ToString(), false) : string.Empty)
                        },
                        FormMethod.Post, new { autocomplete = "off" }))
                    {
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="UserTypeName">Product Type Name</label>
                                        <input type="text" name="ProductTypeName" class="form-control"
                                               @if (Model._productType != null) { <text> value="@(Model._productType.ProductTypeName)" </text> }
                                               placeholder="Enter Product Type Name" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="UserTypeDetails">Product Type Details</label>
                                        <textarea name="Description" class="form-control" placeholder="Enter Product Type Details" style="height:38px;">@if (Model._productType != null) { <text> @Model._productType.Description </text>  }</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            @if (Model._productType != null)
                            {
                                <button type="submit" class="btn btn-warning"> <i class="fas fa-edit"></i> Update </button>
                                <a href="@Url.Action("Type", "Product", new { id = string.Empty })" class="btn btn-danger"> <i class="fas fa-times"></i> Cancel</a>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                            }
                            <button type="reset" class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">Product Types</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered dt-responsive nowrap" data-table="normal">
                            <thead>
                                <tr>
                                    <th>Edit/Deactivate</th>
                                    <th>Product Type Name</th>
                                    <th>Details</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model._productTypes != null)
                                {
                                    foreach (ProductType productType in Model._productTypes)
                                    {
                                        <tr>
                                            <td>
                                                @if (productType.IsActive)
                                                {
                                                    <a class="btn btn-outline-success btn-flat" href="@Url.Action("Type", "Product", new { id = Html.UrlIdEncrypt(productType.ProductTypeId, false) })"
                                                       data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <button onclick="DeactivateRecord(this)"
                                                            data-display="Product Type Name" data-value="@productType.ProductTypeName"
                                                            data-controller="Product" data-action="TypeDeactivate"
                                                            data-id="@Html.UrlIdEncrypt(productType.ProductTypeId)"
                                                            data-toggle="tooltip" data-placement="top"
                                                            class="btn btn-outline-danger btn-flat" title="Deactivate">
                                                        <i class="fas fa-trash-alt pull-right"></i>
                                                    </button>
                                                }
                                            </td>
                                            <td>@productType.ProductTypeName</td>
                                            <td>@productType.Description</td>
                                            <td>
                                                @if (productType.IsActive)
                                                {
                                                    <span class="right badge badge-success">Active</span>
                                                }
                                                else
                                                {
                                                    <span class="right badge badge-danger">Inactive</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>