@using JicoDotNet.Inventory.UI.Models;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
@model PurchaseOrderModels

@{
    ViewBag.Title = "PO Price Amendment";
    ViewBag.Page = "/Purchase/Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>PO Price Amendment</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Purchase")">Purchase Order</a></li>
                    <li class="breadcrumb-item active">Amendment</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">
                            Purchase Order Amendment (Quantity)
                        </h3>
                    </div>
                    @using (Html.BeginForm("Amendment", "Purchase",
                            new { id = Html.UrlIdEncrypt(Model._purchaseOrder.PurchaseOrderId, false) },
                            FormMethod.Post, new { autocomplete = "off", id = "formPOAP" }))
                    {
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                                <button type="reset" class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
                                <a href="@Url.Action("Index", "Purchase", new { id = string.Empty })" class="btn btn-danger"><i class="fas fa-times"></i> Cancel</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PO Number/Date</label>
                                        <h4>@Model._purchaseOrder.PurchaseOrderNumber</h4>
                                        @Model._purchaseOrder.PurchaseOrderDate.ToDisplayShortDateString()
                                        <input type="hidden" value="@Model._purchaseOrder.PurchaseOrderId" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Amendment Date</label>
                                        <small>Day/Month/Year</small>
                                        <input type="text" name="AmendmentDate" class="form-control form-control-sm"
                                               placeholder="Purchase Order Date" required data-mask readonly
                                               value="@GenericLogic.IstNow.ToDateMaskString()" />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>PO From</label>
                                        <span class="d-block">@Model._company.CompanyName</span>
                                        @if (Model._company.IsGSTRegistered)
                                        {
                                            <strong>  @Model._company.GSTNumber</strong>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Branch</label>
                                        <span class="d-block">@Model._purchaseOrder.BranchName</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Vendor & GST Number</label>
                                        <input type="hidden" name="IsGstAllowed" value="@Model._purchaseOrder.IsGstAllowed.ToString().ToLower()" />
                                        <span class="d-block">@Model._vendor.CompanyName</span>
                                        GST NO: <strong>
                                            @if (Model._purchaseOrder.IsGstAllowed)
                                            {<text>@Model._vendor.GSTNumber</text>}
                                        </strong>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Delivery Date</label>
                                        @Model._purchaseOrder.DeliveryDate.ToDisplayShortDateString()
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-success">
                                        <div class="card-header bg-teal">
                                            <h3 class="card-title">Products Details</h3>
                                        </div>
                                        <div class="card-body table-responsive p-0" style="overflow-x:scroll;">
                                            <table class="table table-striped table-bordered dt-responsive nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Product Name/ Code
                                                            <br />
                                                            HSN/SAC
                                                        </th>
                                                        <th class="text-danger">Purchase Price</th>
                                                        <th>Quantity</th>
                                                        <th class="text-danger">Sub Total</th>
                                                        @if (Model._purchaseOrder.IsGstAllowed)
                                                        {
                                                            <th>Tax</th>
                                                        }
                                                        <th class="text-danger">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody data-tablePurchaseOrderDetails>
                                                    @for (int i = 0; i < Model._purchaseOrder.PurchaseOrderDetails.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input name="PurchaseOrderDetailId" data-name="PurchaseOrderDetailId" type="hidden" value="@Model._purchaseOrder.PurchaseOrderDetails[i].PurchaseOrderDetailId" />
                                                                <input name="ProductId" data-name="ProductId" type="hidden" value="@Model._purchaseOrder.PurchaseOrderDetails[i].ProductId" />
                                                                <input name="ProductName" data-name="ProductName" type="hidden" value="@Model._purchaseOrder.PurchaseOrderDetails[i].ProductName" />
                                                                <input name="UnitOfMeasureName" data-name="UnitOfMeasureName"
                                                                       value="@Model._purchaseOrder.PurchaseOrderDetails[i].UnitOfMeasureName"
                                                                       data-UnitOfMeasureName type="hidden" />
                                                                @Model._purchaseOrder.PurchaseOrderDetails[i].ProductName
                                                                @if (!string.IsNullOrEmpty(Model._purchaseOrder.PurchaseOrderDetails[i].ProductCode))
                                                                {
                                                                    <text> (@(Model._purchaseOrder.PurchaseOrderDetails[i].ProductCode)) </text>
                                                                }
                                                                <br />
                                                                @Model._purchaseOrder.PurchaseOrderDetails[i].Description
                                                                <input type="hidden" data-name="Description" data-Description
                                                                       value="@Model._purchaseOrder.PurchaseOrderDetails[i].Description" />
                                                                <span class="d-block">@Model._purchaseOrder.PurchaseOrderDetails[i].HSNSAC</span>
                                                                <input type="hidden" data-name="HSNSAC"
                                                                       value="@Model._purchaseOrder.PurchaseOrderDetails[i].HSNSAC" data-HSNSAC />
                                                                <input type="hidden" data-name="Amount"
                                                                       value="@Model._purchaseOrder.PurchaseOrderDetails[i].Amount" />
                                                                <input type="hidden" name="DiscountPercentage"
                                                                       data-name="DiscountPercentage"
                                                                       value="@Model._purchaseOrder.PurchaseOrderDetails[i].DiscountPercentage" />
                                                                <input type="hidden" name="DiscountAmount"
                                                                       data-name="DiscountAmount"
                                                                       value="@Model._purchaseOrder.PurchaseOrderDetails[i].DiscountAmount" />
                                                            </td>
                                                            <td>
                                                                <div class="input-group" style="width:150px;">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text" data-CurrencySymbol>
                                                                            @Model._config.CurrencySymbol
                                                                        </span>
                                                                    </div>
                                                                    <input type="number" min="0" name="Price"
                                                                           class="form-control form-control-sm"
                                                                           step="0.00001"
                                                                           onblur="AmountCalculate(this);"
                                                                           data-name="Price"
                                                                           value="@Model._purchaseOrder.PurchaseOrderDetails[i].Price" required />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <span class="float-right">
                                                                    @Model._purchaseOrder.PurchaseOrderDetails[i].Quantity.ToDisplayDecimal()
                                                                </span>
                                                                <br />
                                                                <span class="float-right ">
                                                                    @Model._purchaseOrder.PurchaseOrderDetails[i].UnitOfMeasureName
                                                                </span>
                                                                <input name="Price" data-name="Price"
                                                                       type="hidden" value="@Model._purchaseOrder.PurchaseOrderDetails[i].Price" />
                                                                <input type="hidden" name="Quantity"
                                                                       data-name="Quantity"
                                                                       value="@Model._purchaseOrder.PurchaseOrderDetails[i].Quantity" />
                                                            </td>
                                                            <td>
                                                                <div class="input-group" style="width:180px;">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text" data-CurrencySymbol>
                                                                            @Model._config.CurrencySymbol
                                                                        </span>
                                                                    </div>
                                                                    <input type="number" min="0" name="SubTotal"
                                                                           data-name="SubTotal"
                                                                           onblur="AmountCalculate(this);"
                                                                           step="0.00001"
                                                                           class="form-control form-control-sm"
                                                                           value="@Model._purchaseOrder.PurchaseOrderDetails[i].SubTotal" />
                                                                </div>
                                                            </td>
                                                            @if (Model._purchaseOrder.IsGstAllowed)
                                                            {
                                                                <td class="grn-status">
                                                                    <div class="input-group" style="width:120px;">
                                                                        <input type="number" min="0" name="TaxPercentage"
                                                                               class="form-control form-control-sm"
                                                                               step="0.00001"
                                                                               data-name="TaxPercentage"
                                                                               readonly
                                                                               value="@Model._purchaseOrder.PurchaseOrderDetails[i].TaxPercentage.ToDisplayDecimal()" />
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text">%</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="input-group" style="width:120px;">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" data-CurrencySymbol>
                                                                                @Model._config.CurrencySymbol
                                                                            </span>
                                                                        </div>
                                                                        <input type="number" min="0" name="TaxAmount"
                                                                               class="form-control form-control-sm"
                                                                               step="0.00001" readonly
                                                                               data-name="TaxAmount"
                                                                               value="@Model._purchaseOrder.PurchaseOrderDetails[i].TaxAmount.ToDisplayDecimal()" />
                                                                    </div>
                                                                </td>
                                                            }
                                                            <td>
                                                                <div class="input-group" style="width:180px;">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text" data-CurrencySymbol>
                                                                            @Model._config.CurrencySymbol
                                                                        </span>
                                                                    </div>
                                                                    <input type="number" min="0" name="Total"
                                                                           class="form-control form-control-sm"
                                                                           data-name="Total"
                                                                           step="0.00001"
                                                                           onblur="AmountCalculate(this);"
                                                                           value="@Model._purchaseOrder.PurchaseOrderDetails[i].Total.ToDisplayDecimal()" />
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:15px;">
                                <div class="col-md-7"></div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Order Amount</label>
                                                <input type="text" name="PurchaseOrderAmount"
                                                       class="form-control form-control-sm" value="@Model._purchaseOrder.PurchaseOrderAmount"
                                                       placeholder="Order Amount" readonly />
                                            </div>
                                        </div>
                                        @if (Model._purchaseOrder.IsGstAllowed)
                                        {
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Order Tax Amount</label>
                                                    <input type="text" name="PurchaseOrderTaxAmount"
                                                           class="form-control form-control-sm" value="@Model._purchaseOrder.PurchaseOrderTaxAmount"
                                                           readonly />
                                                </div>
                                            </div>
                                        }
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Order Total Amount</label>
                                                <input type="text" name="PurchaseOrderTotalAmount"
                                                       class="form-control form-control-sm" value="@Model._purchaseOrder.PurchaseOrderTotalAmount"
                                                       placeholder="Order Total Amount" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Terms & Conditions</label>
                                        <textarea name="TandC" class="form-control form-control-sm" placeholder="Enter the terms and conditions of your business to be displayed in your transaction" style="height: 180px !important;">@Model._purchaseOrder.TandC</textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Remarks</label>
                                        <textarea name="Remarks" class="form-control form-control-sm" placeholder="Enter the remerks" style="height: 180px !important;">@Model._purchaseOrder.Remarks</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                            <button type="reset" class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
                            <a href="@Url.Action("Index", "Purchase", new { id = string.Empty })" class="btn btn-danger"><i class="fas fa-times"></i> Cancel</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section BodyScript{
    <script src="~/Content/js/gridCalculation.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input.form-control-sm, select.form-control-sm').parent('div.input-group').children('div.input-group-prepend, div.input-group-append').css("height", "31px");

            //Form Submission
            $('form#formPOAP').submit(function () {
                var TRs = $('[data-tablePurchaseOrderDetails]').children('tr');
                for (var i = 0; i < TRs.length; i++) {
                    var controls = $(TRs[i]).find('[data-name]');
                    for (var j = 0; j < controls.length; j++) {
                        $(controls[j]).attr('name', 'PurchaseOrderDetails[' + i + '].' + $(controls[j]).data('name'));
                    }
                }
                return true;
            });
        });

        function AmountCalculate(e) {
            var thisName = $(e).data('name');
            var PriceObj = {};
            var isGstAllowed = $('input[name="IsGstAllowed"]').val() == 'true';
            PriceObj.TaxPercentage = 0;
            PriceObj.TaxAmount = 0;

            PriceObj.Amount = isNaN(parseFloat($(e).parents('tr').find('input[data-name="Amount"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="Amount"]').val());
            PriceObj.DiscountPercentage = isNaN(parseFloat($(e).parents('tr').find('input[data-name="DiscountPercentage"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="DiscountPercentage"]').val());
            PriceObj.DiscountAmount = isNaN(parseFloat($(e).parents('tr').find('input[data-name="DiscountAmount"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="DiscountAmount"]').val());
            PriceObj.Price = isNaN(parseFloat($(e).parents('tr').find('input[data-name="Price"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="Price"]').val());
            PriceObj.Quantity = isNaN(parseFloat($(e).parents('tr').find('input[data-name="Quantity"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="Quantity"]').val());
            PriceObj.SubTotal = isNaN(parseFloat($(e).parents('tr').find('input[data-name="SubTotal"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="SubTotal"]').val());
            if (isGstAllowed) {
                PriceObj.TaxPercentage = isNaN(parseFloat($(e).parents('tr').find('input[data-name="TaxPercentage"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="TaxPercentage"]').val());
                PriceObj.TaxAmount = isNaN(parseFloat($(e).parents('tr').find('input[data-name="TaxAmount"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="TaxAmount"]').val());
            }
            PriceObj.Total = isNaN(parseFloat($(e).parents('tr').find('input[data-name="Total"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="Total"]').val());

            PriceObj = Calculation(PriceObj, thisName);

            $(e).parents('tr').find('input[data-name="Total"]').val(parseFloat(PriceObj.Total.toFixed(5)));
            $(e).parents('tr').find('input[data-name="TaxAmount"]').val(parseFloat(PriceObj.TaxAmount.toFixed(5)));
            $(e).parents('tr').find('input[data-name="TaxPercentage"]').val(PriceObj.TaxPercentage); // same
            $(e).parents('tr').find('input[data-name="SubTotal"]').val(parseFloat(PriceObj.SubTotal.toFixed(5)));
            $(e).parents('tr').find('input[data-name="Quantity"]').val(PriceObj.Quantity); // same
            $(e).parents('tr').find('input[data-name="Price"]').val(parseFloat(PriceObj.Price.toFixed(5)));
            $(e).parents('tr').find('input[data-name="DiscountPercentage"]').val(parseFloat(PriceObj.DiscountPercentage.toFixed(5)));
            $(e).parents('tr').find('input[data-name="DiscountAmount"]').val(parseFloat(PriceObj.DiscountAmount.toFixed(5)));
            $(e).parents('tr').find('input[data-name="Amount"]').val(PriceObj.Amount); // same

            TotalCalculate();
        }

        function TotalCalculate() {
            var trs = $('[data-tablePurchaseOrderDetails]').children('tr');
            var PurchaseOrderAmount = 0.0;
            var PurchaseOrderTaxAmount = 0.0;
            var PurchaseOrderTotalAmount = 0.0;
            for (var i = 0; i < trs.length; i++) {
                if (!isNaN(parseFloat($(trs[i]).find('[name="SubTotal"]').val())))
                    PurchaseOrderAmount = PurchaseOrderAmount + parseFloat($(trs[i]).find('[name="SubTotal"]').val());
                if (!isNaN(parseFloat($(trs[i]).find('[name="TaxAmount"]').val())))
                    PurchaseOrderTaxAmount = PurchaseOrderTaxAmount + parseFloat($(trs[i]).find('[name="TaxAmount"]').val());
                if (!isNaN(parseFloat($(trs[i]).find('[name="Total"]').val())))
                    PurchaseOrderTotalAmount = PurchaseOrderTotalAmount + parseFloat($(trs[i]).find('[name="Total"]').val());
            }
            $('[name="PurchaseOrderAmount"]').val(parseFloat(PurchaseOrderAmount.toFixed(5)));
            $('[name="PurchaseOrderTaxAmount"]').val(parseFloat(PurchaseOrderTaxAmount.toFixed(5)));
            $('[name="PurchaseOrderTotalAmount"]').val(parseFloat(PurchaseOrderTotalAmount.toFixed(5)));

            // Tax Field Hide/Show
            if ($('input[name="IsGstAllowed"]').val() == 'true')
                $('input[name="PurchaseOrderTaxAmount"]').parent().parent().show();
            else if ($('input[name="IsGstAllowed"]').val() == 'false')
                $('input[name="PurchaseOrderTaxAmount"]').parent().parent().hide();
            else {
                $('[name="PurchaseOrderTaxAmount"]').val('Something Wrong');
                $('input[name="PurchaseOrderTaxAmount"]').parent().parent().show();
            }
        }
    </script>
}