@using JicoDotNet.Inventory.UI.Models;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
@model PurchaseOrderModels

@{
    ViewBag.Title = "Purchase Order Entry";
    ViewBag.Page = "/Purchase/Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Purchase Order</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Purchase")">Purchase Order</a></li>
                    <li class="breadcrumb-item active">Entry</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">
                            Purchase Order Entry
                        </h3>
                    </div>
                    @using (Html.BeginForm("Order", "Purchase",
                      FormMethod.Post, new { autocomplete = "off", id = "formPO" }))
                    {
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                                <button type="reset" class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PO Given Company</label>
                                        <input type="hidden" name="CompanyId" value="@Model._company.CompanyId" />
                                        <input class="form-control form-control-sm" name="CompanyName" value="@Model._company.CompanyName" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Purchase Order Date</label>
                                        <small>Day/Month/Year</small>
                                        <input type="text" name="PurchaseOrderDate" class="form-control form-control-sm"
                                               placeholder="Purchase Order Date" required data-mask readonly
                                               value="@GenericLogic.IstNow.ToDateMaskString()" />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Purchase Type</label>
                                        <select class="form-control form-control-sm" name="PurchaseTypeId" autofocus required>
                                            <option value="">--Please Select--</option>
                                            @for (int i = 0; i < Model._purchaseTypes.Count; i++)
                                            {
                                                <option value="@Model._purchaseTypes[i].PurchaseTypeId">
                                                    @Model._purchaseTypes[i].PurchaseTypeName
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Branch</label>
                                        <select class="form-control form-control-sm" name="BranchId" required>
                                            <option value="">--Please Select--</option>
                                            @for (int i = 0; i < Model._branches.Count; i++)
                                            {
                                                <option value="@Model._branches[i].BranchId">
                                                    @Model._branches[i].BranchName
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Vendor & GST Number</label>
                                        <input type="hidden" name="IsGstAllowed" value="" />
                                        <select class="form-control form-control-sm" name="VendorId" onchange="changeVendor(this); return false;" required>
                                            <option value="">--Please Select--</option>
                                            @for (int i = 0; i < Model._vendors.Count; i++)
                                            {
                                                <option value="@Model._vendors[i].VendorId" data-gstregistered="@Model._vendors[i].IsGSTRegistered.ToString().ToLower()">
                                                    @Model._vendors[i].CompanyName - @(((Model._vendors[i].IsGSTRegistered) ? Model._vendors[i].GSTNumber : "GST Unregistred"))
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Delivery Date</label>
                                        <small>Day/Month/Year</small>
                                        <input type="text" name="DeliveryDate" class="form-control form-control-sm"
                                               placeholder="Delivery Date" data-mask readonly />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <label>
                                        Product Item Details
                                        <span class="pull-right" data-toggle="tooltip" data-placement="top" title="requried">&nbsp;&nbsp;<i class="fas fa-asterisk text-danger"></i></span>
                                    </label>
                                    <div class="float-right">
                                        <button type="button" class="btn btn-tool btn btn-outline btn-flat" onclick="ProductSync();"
                                                style="background-color: #fff;color: #007bff;"
                                                data-toggle="tooltip" data-placement="top" title="Product Sync">
                                            <i class="fas fa-sync-alt"></i> Product Sync
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card card-success">
                                        <div class="card-header bg-teal">
                                            <h3 class="card-title">Products Details</h3>
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool btn btn-outline-warning btn-flat" onclick="RepeatRow();"
                                                        style="background-color: #ffc107; color: #fff;"
                                                        data-toggle="tooltip" data-placement="top" title="Add New Item">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <input type="hidden" value="0" data-tablePurchaseOrderDetails="count" />
                                        <div class="card-body table-responsive" style="overflow-x:scroll;" data-tablePurchaseOrderDetails="items">
                                            <p class="text-center mb-0 m-2">Please select vendor</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:15px;">
                                <div class="col-md-7"></div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Order Amount</label>
                                                <input type="text" name="PurchaseOrderAmount"
                                                       class="form-control form-control-sm" value="0.0"
                                                       placeholder="Order Amount" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Order Tax Amount</label>
                                                <input type="text" name="PurchaseOrderTaxAmount"
                                                       class="form-control form-control-sm" value="0.0"
                                                       placeholder="Order Tax Amount" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Order Total Amount</label>
                                                <input type="text" name="PurchaseOrderTotalAmount"
                                                       class="form-control form-control-sm" value="0.0"
                                                       placeholder="Order Total Amount" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Terms & Conditions</label>
                                        <textarea name="TandC" class="form-control form-control-sm" 
                                                  placeholder="Enter the terms and conditions of your business to be displayed in your transaction" 
                                                  style="height: 180px !important;">@Model._config.POTnC</textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Remarks</label>
                                        <textarea name="Remarks" class="form-control form-control-sm" 
                                                  placeholder="Enter the remerks" style="height: 180px !important;">@Model._config.PORemarks</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                            <button type="reset" class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section BodyScript{
    <script src="~/Content/js/gridCalculation.js"></script>
    <script type="text/javascript">
        var ProductObj = [];
        var PurchaseOrderDetailsCount = 0;

        $(document).ready(function () {
            $('input.form-control-sm, select.form-control-sm').parent('div.input-group').children('div.input-group-prepend, div.input-group-append').css("height", "31px");
            $('span[data-CurrencySymbol]').html('@(Model._config.CurrencySymbol)');

            // Get Products
            GetProduct();

            //Form Submission
            $('form#formPO').submit(function () {
                var TRs = $('[data-tablePurchaseOrderDetails]').children('tr');
                for (var i = 0; i < TRs.length; i++) {
                    var controls = $(TRs[i]).find('[data-name]');
                    for (var j = 0; j < controls.length; j++) {
                        $(controls[j]).attr('name', 'PurchaseOrderDetails[' + i + '].' + $(controls[j]).data('name'));
                    }
                }
                return true;
            });
        });

        function GetProduct() {
            $.ajax({
                url: '@Url.Action("In", "Product")',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    ProductObj = data;
                    attachAutocomplete();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('[data-tableSalesOrderDetails="items"]').html('<p class="text-center text-danger mb-0 m-2">Error occurred- ' + textStatus + ' : ' + errorThrown + '</p>');
                }
            });
        }

        function changeVendor(e) {
            var isGstRegistered = $(e).find('option[value="' + e.value + '"]').data().gstregistered;
            if (isGstRegistered != undefined) {
                $('[data-tablePurchaseOrderDetails="items"]').html('<div class="overlay text-center m-4"><i class="fas fa-sync-alt fa-spin fa-2x"></i></div>');
                if (isGstRegistered) {
                    $('input[name="IsGstAllowed"]').val('true');
                }
                else {
                    $('input[name="IsGstAllowed"]').val('false');
                }
                var Url = "@Url.Action("POItems", "Purchase")/" + escape(btoa(isGstRegistered));
                $.ajax({
                    url: Url,
                    type: "GET",
                    dataType: "html",
                    success: function (data) {
                        $('[data-tablePurchaseOrderDetails="items"]').html(data);
                        TotalCalculate();
                        attachAutocomplete();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('[data-tableSalesOrderDetails="items"]').html('<p class="text-center text-danger mb-0 m-2">Error occurred- ' + textStatus + ' : ' + errorThrown + '</p>');
                    }
                });
            }
            else {
                $('[data-tablePurchaseOrderDetails="items"]').html('<p class="text-center mb-0 m-2">Please select vendor</p>');
                TotalCalculate();
            }
        }

        function RepeatRow() {
            if (PurchaseOrderDetailsCount < @Model._config.MaxDetailsCount) {
                PurchaseOrderDetailsCount += 1;

                var html = $('#d').html();
                html = '<tr>' + html + '</tr>';
                $('#d').parent('tbody').append(html);
                $('[data-toggle="tooltip"]').tooltip();
                attachAutocomplete();
                $('#d').parent('tbody').find('tr:last').find('.productAutocomplete').focus();
            }
            else {
                toastr.error('Maximum @Model._config.MaxDetailsCount rows are allowed!');
            }
        }
        function DeleteRow(e) {
            if ($(e).parent('td').parent('tr').parent('tbody').children('tr').length > 1) {
                $(e).parent('td').parent('tr').remove().fadeOut();
                TotalCalculate();
                PurchaseOrderDetailsCount -= 1;
            }
        }
        function ProductChange(e, product) {
            // UnitOfMeasureName
            $(e).parents('tr').find('span[data-UnitOfMeasureName]').html(product.UnitOfMeasureName);
            $(e).parents('tr').find('input[data-UnitOfMeasureName]').val(product.UnitOfMeasureName);

            // Product Id
            $(e).parents('tr').find('input[data-name="ProductId"]').val(product.ProductId);

            // Product Name as value
            $(e).parents('tr').find('input[data-name="ProductName"]').val(product.value);

            // HSNSAC
            $(e).parents('tr').find('input[data-HSNSAC]').val(product.HSNSAC);

            // Description
            $(e).parents('tr').find('input[data-Description]').val(product.Description);

            // TaxPercentage
            $(e).parents('tr').find('input[data-name="TaxPercentage"]').val(product.TaxPercentage);

            // Purchase Price
            $(e).parents('tr').find('input[data-name="Amount"]').val(product.PurchasePrice);
            $(e).parents('tr').find('input[data-name="Amount"]').blur();
        }
        function AmountCalculate(e) {
            var thisName = $(e).data('name');
            var PriceObj = {};
            var isGstAllowed = $('input[name="IsGstAllowed"]').val() == 'true';
            PriceObj.TaxPercentage = 0;
            PriceObj.TaxAmount = 0;

            PriceObj.Amount = isNaN(parseFloat($(e).parents('tr').find('input[data-name="Amount"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="Amount"]').val());
            PriceObj.DiscountPercentage = isNaN(parseFloat($(e).parents('tr').find('input[data-name="DiscountPercentage"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="DiscountPercentage"]').val());
            PriceObj.DiscountAmount = isNaN(parseFloat($(e).parents('tr').find('input[data-name="DiscountAmount"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="DiscountAmount"]').val());
            PriceObj.Price = isNaN(parseFloat($(e).parents('tr').find('input[data-name="Price"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="Price"]').val());
            PriceObj.Quantity = isNaN(parseFloat($(e).parents('tr').find('input[data-name="Quantity"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="Quantity"]').val());
            PriceObj.SubTotal = isNaN(parseFloat($(e).parents('tr').find('input[data-name="SubTotal"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="SubTotal"]').val());
            if (isGstAllowed) {
                PriceObj.TaxPercentage = isNaN(parseFloat($(e).parents('tr').find('input[data-name="TaxPercentage"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="TaxPercentage"]').val());
                PriceObj.TaxAmount = isNaN(parseFloat($(e).parents('tr').find('input[data-name="TaxAmount"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="TaxAmount"]').val());
            }
            PriceObj.Total = isNaN(parseFloat($(e).parents('tr').find('input[data-name="Total"]').val())) ? 0.0 : parseFloat($(e).parents('tr').find('input[data-name="Total"]').val());

            PriceObj = Calculation(PriceObj, thisName);

            $(e).parents('tr').find('input[data-name="Total"]').val(parseFloat(PriceObj.Total.toFixed(5)));
            $(e).parents('tr').find('input[data-name="TaxAmount"]').val(parseFloat(PriceObj.TaxAmount.toFixed(5)));
            $(e).parents('tr').find('input[data-name="TaxPercentage"]').val(PriceObj.TaxPercentage); // same
            $(e).parents('tr').find('input[data-name="SubTotal"]').val(parseFloat(PriceObj.SubTotal.toFixed(5)));
            $(e).parents('tr').find('input[data-name="Quantity"]').val(PriceObj.Quantity); // same
            $(e).parents('tr').find('input[data-name="Price"]').val(parseFloat(PriceObj.Price.toFixed(5)));
            $(e).parents('tr').find('input[data-name="DiscountPercentage"]').val(parseFloat(PriceObj.DiscountPercentage.toFixed(5)));
            $(e).parents('tr').find('input[data-name="DiscountAmount"]').val(parseFloat(PriceObj.DiscountAmount.toFixed(5)));
            $(e).parents('tr').find('input[data-name="Amount"]').val(PriceObj.Amount); // same

            TotalCalculate();
        }

        function TotalCalculate() {
            var trs = $('[data-tablePurchaseOrderDetails]').children('tr');
            var PurchaseOrderAmount = 0.0;
            var PurchaseOrderTaxAmount = 0.0;
            var PurchaseOrderTotalAmount = 0.0;
            for (var i = 0; i < trs.length; i++) {
                if (!isNaN(parseFloat($(trs[i]).find('[name="SubTotal"]').val())))
                    PurchaseOrderAmount = PurchaseOrderAmount + parseFloat($(trs[i]).find('[name="SubTotal"]').val());
                if (!isNaN(parseFloat($(trs[i]).find('[name="TaxAmount"]').val())))
                    PurchaseOrderTaxAmount = PurchaseOrderTaxAmount + parseFloat($(trs[i]).find('[name="TaxAmount"]').val());
                if (!isNaN(parseFloat($(trs[i]).find('[name="Total"]').val())))
                    PurchaseOrderTotalAmount = PurchaseOrderTotalAmount + parseFloat($(trs[i]).find('[name="Total"]').val());
            }
            $('[name="PurchaseOrderAmount"]').val(parseFloat(PurchaseOrderAmount.toFixed(5)));
            $('[name="PurchaseOrderTaxAmount"]').val(parseFloat(PurchaseOrderTaxAmount.toFixed(5)));
            $('[name="PurchaseOrderTotalAmount"]').val(parseFloat(PurchaseOrderTotalAmount.toFixed(5)));

            // Tax Field Hide/Show
            if ($('input[name="IsGstAllowed"]').val() == 'true')
                $('input[name="PurchaseOrderTaxAmount"]').parent().parent().show();
            else if ($('input[name="IsGstAllowed"]').val() == 'false')
                $('input[name="PurchaseOrderTaxAmount"]').parent().parent().hide();
            else {
                $('[name="PurchaseOrderTaxAmount"]').val('Something Wrong');
                $('input[name="PurchaseOrderTaxAmount"]').parent().parent().show();
            }
        }

        function attachAutocomplete() {
            $('input.productAutocomplete').autocomplete({
                source: ProductObj,
                autoFocus: true,
                select: function (event, ui) {
                    ProductChange(this, ui.item);
                }
            });
        }

        function ProductSync() {
            GetProduct();
            toastr.success('Product Sync successful!!');
        }
    </script>
}
