@using JicoDotNet.Inventory.UI.Models;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
@model PurchaseOrderModels
@{
    ViewBag.Title = "PO Details " + (string.IsNullOrEmpty(Model._draftId) ? Model._purchaseOrder.PurchaseOrderNumber : Model._draftId);
    ViewBag.Page = "/Purchase/Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Purchase Order</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Purchase" )"> Purchase Order</a></li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="float-md-right">
                            <print class="btn"><i class="fas fa-print"></i> Print</print>
                            @if (Model._draftId != null)
                            {
                                <a href="@Url.Action("ConfirmPO", "Purchase", new { id = Html.UrlIdEncrypt(Model._draftId, false) })" class="btn btn-success"><i class="fas fa-save"></i> Confirm Order</a>
                                <a href="@Url.Action("Index", "Purchase", new { id = string.Empty })" class="btn btn-danger"> <i class="fas fa-times"></i> Delete Draft</a>
                            }
                            else
                            {
                                if (Model._purchaseOrder.GoodsReceivedStatus == null
                                    || Model._purchaseOrder.BilledStatus == null)
                                {
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                            <i class="fas fa-bars"></i> Amendment
                                        </button>
                                        <div class="dropdown-menu float-right" role="menu">
                                            @if (Model._purchaseOrder.GoodsReceivedStatus == null)
                                            {
                                                <a href="@Url.Action("Amendment", "Purchase", new { id = Html.UrlIdEncrypt(Model._purchaseOrder.PurchaseOrderId, false), id2 = "Quantity" })" class="dropdown-item">
                                                    <i class="fas fa-sort-numeric-up mr-1"></i> Quantity Wise
                                                </a>
                                            }
                                            @if (Model._purchaseOrder.BilledStatus == null)
                                            {
                                                <a href="@Url.Action("Amendment", "Purchase", new { id = Html.UrlIdEncrypt(Model._purchaseOrder.PurchaseOrderId, false), id2 = "Price" })" class="dropdown-item">
                                                    <i class="fas fa-rupee-sign mr-1"></i> Price Wise
                                                </a>
                                            }
                                        </div>
                                    </div>
                                }
                                if (Model._purchaseOrder.GoodsReceivedStatus == null
                                    && Model._purchaseOrder.BilledStatus == null)
                                {
                                    <button onclick="DeactivateRecord(this)"
                                            data-display="PO Number/Date" data-value="@Model._purchaseOrder.PurchaseOrderNumber/@Model._purchaseOrder.PurchaseOrderDate.ToDisplayableShortDateString()"
                                            data-controller="Purchase" data-action="Deactivate"
                                            data-id="@Html.UrlIdEncrypt(Model._purchaseOrder.PurchaseOrderId)"
                                            data-toggle="tooltip" data-placement="top"
                                            class="btn btn-outline-danger btn-flat" title="Deactivate">
                                        <i class="fas fa-times"></i> Delete
                                    </button>
                                }
                                <a href="@Url.Action("Index", "Purchase", new { id = string.Empty })" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
                            }
                        </div>
                    </div>
                </div>
                @if (Model._draftId != null)
                {
                    <div class="alert alert-warning alert-dismissible">
                        <h4><i class="icon fas fa-ban"></i> Draft Version!</h4>
                        This is draft version. You can confirm or cencel this Purchase Order.
                    </div>
                }
                <div class="invoice p-4 mb-3" data-print="true">
                    <div class="row">
                        <div class="col-12">
                            @if (!string.IsNullOrEmpty(Model._companyAddress.LogoUrl))
                            {
                                <img class="img-fluid img-responsive" alt="@Model._companyAddress.CompanyName" style="max-height:50px;" src="@Model._companyAddress.LogoUrl" />
                            }
                            <h4 class="float-right">
                                <i class="fas fa-cart-arrow-down"></i> Purchase Order
                            </h4>
                        </div>
                    </div>
                    <div class="row invoice-info">
                        <div class="col-sm-5 invoice-col">
                            <address>
                                <strong>@Model._companyAddress.CompanyName</strong><br>
                                @if (!string.IsNullOrEmpty(Model._companyAddress.Address))
                                {
                                    <span style="word-wrap: break-word;overflow-wrap: break-word;">
                                        @Model._companyAddress.Address
                                    </span><br>
                                }
                                @GenericLogic.State()[Model._companyAddress.StateCode]<br>
                                @if (!string.IsNullOrEmpty(Model._companyAddress.Mobile))
                                {
                                    <text>Phone: @Model._companyAddress.Mobile</text><br>
                                }
                                @if (!string.IsNullOrEmpty(Model._companyAddress.Email))
                                {
                                    <text>Email: @Model._companyAddress.Email</text><br>
                                }
                                GST NO: <strong>
                                    @if (Model._companyAddress.IsGSTRegistered)
                                    {<text>@Model._companyAddress.GSTNumber</text> }
                                else
                                { <text>Unregistred</text>}
                                </strong>
                            </address>
                        </div>
                        <div class="col-sm-4 invoice-col">
                            <span>Vendor Details</span>
                            <address>
                                <strong>@Model._vendor.CompanyName</strong><br>
                                @GenericLogic.State()[Model._vendor.StateCode]<br />
                                @if (!string.IsNullOrEmpty(Model._vendor.ContactPerson))
                                {
                                    <text>Contact Person: @Model._vendor.ContactPerson</text><br>
                                }
                                @if (!string.IsNullOrEmpty(Model._vendor.Mobile))
                                {
                                    <text>Phone: @Model._vendor.Mobile</text><br>
                                }
                                @if (!string.IsNullOrEmpty(Model._vendor.Email))
                                {
                                    <text>Email: @Model._vendor.Email</text><br>
                                }
                                GST NO: <strong>
                                    @if (Model._purchaseOrder.IsGstAllowed)
                                    {<text>@Model._vendor.GSTNumber</text> }
                                else
                                { <text>Unregistred</text>}
                                </strong>
                            </address>
                        </div>
                        <div class="col-sm-3 invoice-col">
                            @if (Model._draftId != null)
                            {
                                <h4>Draft Version</h4>
                                <h5 class="card-title float-none">#@Model._draftId</h5>
                            }
                            else
                            {
                                <h4 class="float-none">#@Model._purchaseOrder.PurchaseOrderNumber</h4>
                            }
                            <b>Date: </b>@Model._purchaseOrder.PurchaseOrderDate.ToDisplayShortDateString()
                            <br />
                            @if (!string.IsNullOrEmpty(@Model._purchaseOrder.AmendmentNumber))
                            {
                                <b>Amendment: </b>@Model._purchaseOrder.AmendmentNumber<br />
                                <b>Amendment Date: </b>@Model._purchaseOrder.AmendmentDate.ToDisplayShortDateString()
                            }
                            <br />
                            @if (Model._purchaseOrder.DeliveryDate != null)
                            {
                                <b>Delivery Date:</b> @(Model._purchaseOrder.DeliveryDate.Value.ToDisplayShortDateString())<br>
                            }
                            <b>PO Amount:</b> @(Model._config.CurrencySymbol + Model._purchaseOrder.PurchaseOrderTotalAmount.ToDisplayDecimal())
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Product/Details</th>
                                        <th>
                                            <span class="float-right">
                                                HSN/SAC
                                            </span>
                                        </th>
                                        <th>
                                            <span class="float-right">
                                                Qty
                                            </span>
                                        </th>
                                        <th>
                                            <span class="float-right">
                                                Rate
                                            </span>
                                        </th>
                                        @if (Model._purchaseOrder.IsGstAllowed)
                                        {
                                            <th>
                                                <span class="float-right">
                                                    Tax
                                                </span>
                                            </th>
                                        }
                                        <th>
                                            <span class="float-right">
                                                Total
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model._purchaseOrder.PurchaseOrderDetails.Count; i++)
                                    {
                                        <tr style="border-bottom: 1px solid #dee2e6;">
                                            <td>
                                                <strong>@(i + 1)</strong>
                                            </td>
                                            <td>
                                                @Model._purchaseOrder.PurchaseOrderDetails[i].ProductName
                                                @if (!string.IsNullOrEmpty(Model._purchaseOrder.PurchaseOrderDetails[i].ProductCode))
                                                {
                                                    <text> (@(Model._purchaseOrder.PurchaseOrderDetails[i].ProductCode)) </text>
                                                }
                                                <br />
                                                @Model._purchaseOrder.PurchaseOrderDetails[i].Description
                                            </td>
                                            <td>
                                                <span class="float-right">
                                                    @Model._purchaseOrder.PurchaseOrderDetails[i].HSNSAC
                                                </span>
                                            </td>
                                            <td>
                                                <span class="float-right">
                                                    @Model._purchaseOrder.PurchaseOrderDetails[i].Quantity.ToDisplayDecimal()
                                                </span>
                                                <br />
                                                <span class="float-right">
                                                    @Model._purchaseOrder.PurchaseOrderDetails[i].UnitOfMeasureName
                                                </span>
                                            </td>
                                            <td>
                                                <span class="float-right">
                                                    @(Model._config.CurrencySymbol + Model._purchaseOrder.PurchaseOrderDetails[i].Price.ToDisplayDecimal())
                                                </span>
                                            </td>
                                            @if (Model._purchaseOrder.IsGstAllowed)
                                            {
                                                <td>
                                                    <span class="float-right">
                                                        @Model._purchaseOrder.PurchaseOrderDetails[i].TaxPercentage.ToDisplayDecimal()%
                                                    </span>
                                                    <br />
                                                    <span class="float-right">
                                                        @(Model._config.CurrencySymbol + Model._purchaseOrder.PurchaseOrderDetails[i].TaxAmount.ToDisplayDecimal())
                                                    </span>
                                                </td>
                                            }
                                            <td>
                                                <span class="float-right">
                                                    @(Model._config.CurrencySymbol + Model._purchaseOrder.PurchaseOrderDetails[i].Total.ToDisplayDecimal())
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                @if (!string.IsNullOrEmpty(Model._purchaseOrder.TandC))
                                {
                                    <div class="col-12">
                                        <p class="lead">Terms & Conditions:</p>
                                        <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                                            @Model._purchaseOrder.TandC
                                        </p>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(Model._purchaseOrder.Remarks))
                                {
                                    <div class="col-12">
                                        <p class="lead">Remarks:</p>
                                        <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                                            @Model._purchaseOrder.Remarks
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="lead">Total Order Details</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th style="width:40%">Subtotal:</th>
                                            <td>
                                                @(Model._config.CurrencySymbol + Model._purchaseOrder.PurchaseOrderAmount.ToDisplayDecimal())
                                            </td>
                                        </tr>
                                        @if (Model._purchaseOrder.IsGstAllowed)
                                        {
                                            <tr>
                                                <th>Total Tax:</th>
                                                <td>
                                                    @(Model._config.CurrencySymbol + Model._purchaseOrder.PurchaseOrderTaxAmount.ToDisplayDecimal())
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <th>Total:</th>
                                            <td>
                                                <strong>
                                                    @(Model._config.CurrencySymbol + Model._purchaseOrder.PurchaseOrderTotalAmount.ToDisplayDecimal())
                                                </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Authorized Signature</th>
                                            <td><u class="float-right mt-3">___________________________________</u></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @Html.Partial("_PartialPrintSignature")
                </div>
                <div class="card">
                    <div class="card-body">
                        @if (Model._draftId != null)
                        {
                            <a href="@Url.Action("Index", "Purchase", new { id = string.Empty })" class="btn btn-danger"> <i class="fas fa-times"></i> Delete Draft</a>
                            <a href="@Url.Action("ConfirmPO", "Purchase", new { id = Html.UrlIdEncrypt(Model._draftId, false) })" class="btn btn-success"><i class="fas fa-save"></i> Confirm Order</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "Purchase", new { id = string.Empty })" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
                            if (Model._purchaseOrder.GoodsReceivedStatus == null
                                && Model._purchaseOrder.BilledStatus == null)
                            {
                                <button onclick="DeactivateRecord(this)"
                                        data-display="PO Number/Date" data-value="@Model._purchaseOrder.PurchaseOrderNumber/@Model._purchaseOrder.PurchaseOrderDate.ToDisplayableShortDateString()"
                                        data-controller="Purchase" data-action="Deactivate"
                                        data-id="@Html.UrlIdEncrypt(Model._purchaseOrder.PurchaseOrderId)"
                                        data-toggle="tooltip" data-placement="top"
                                        class="btn btn-outline-danger btn-flat" title="Deactivate">
                                    <i class="fas fa-times"></i> Delete
                                </button>
                            }
                        }
                        <print class="btn"><i class="fas fa-print"></i> Print</print>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>