<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Home")" class="nav-link active">
                <i class="nav-icon fas fa-home"></i>
                <p>
                    Home
                </p>
            </a>
        </li>
        <li class="nav-item has-treeview">
            <a href="javascript: void(0);" class="nav-link">
                <i class="nav-icon fas fa-tasks"></i>
                Basic
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Product")" class="nav-link">
                        <i class="fas fa-apple-alt nav-icon"></i>
                        Item/Product
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Customer")" class="nav-link">
                        <i class="fas fa-user-shield nav-icon"></i>
                        Customer/Client
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Vendor")" class="nav-link">
                        <i class="fas fa-user-tag nav-icon"></i>
                        Vendor/Party
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Unit", "Measure")" class="nav-link">
                        <i class="fas fa-balance-scale nav-icon"></i>
                        Measurement Unit
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Warehouse")" class="nav-link">
                        <i class="fas fa-warehouse nav-icon"></i>
                        Warehouse
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="javascript: void(0);" class="nav-link">
                <i class="nav-icon fas fa-balance-scale"></i>
                Sales
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Sales")" class="nav-link">
                        <i class="fas fa-balance-scale-right nav-icon"></i>
                        Sales Order (SO)
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Shipment")" class="nav-link">
                        <i class="fas fa-angle-double-up nav-icon"></i>
                        Goods Delivery
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Invoice")" class="nav-link">
                        <i class="fas fa-file-invoice nav-icon"></i>
                        Invoice Generate
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Retail")" class="nav-link">
                        <i class="fas fa-luggage-cart nav-icon"></i>
                        Retail
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Quotation")" class="nav-link">
                        <i class="fas fa-quote-left nav-icon"></i>
                        Quotation
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="javascript: void(0);" class="nav-link">
                <i class="nav-icon fas fa-shopping-cart"></i>
                Purchase
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Purchase")" class="nav-link">
                        <i class="fas fa-cart-arrow-down nav-icon"></i>
                        Purchase Order (PO)
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "GRN")" class="nav-link">
                        <i class="fas fa-angle-double-down nav-icon"></i>
                        Goods Receive
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Bill")" class="nav-link">
                        <i class="fas fa-file-invoice-dollar nav-icon"></i>
                        Bill Generate
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="javascript: void(0);" class="nav-link">
                <i class="nav-icon fas fa-boxes"></i>
                Stock
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Stock")" class="nav-link">
                        <i class="fas fa-layer-group nav-icon"></i>
                        Current Stock
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Transfer", "Stock")" class="nav-link">
                        <i class="fas fa-suitcase-rolling nav-icon"></i>
                        Stock Transfer
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Adjust", "Stock")" class="nav-link">
                        <i class="fas fa-sliders-h nav-icon"></i>
                        Stock Adjust
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="javascript: void(0);" class="nav-link">
                <i class="nav-icon fas fa-rupee-sign"></i>
                Payment
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("Made", "Payment")" class="nav-link">
                        <i class="far fa-money-bill-alt nav-icon"></i>
                        Make Payment
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Received", "Payment")" class="nav-link">
                        <i class="fas fa-money-check-alt nav-icon"></i>
                        Payment Receive
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="javascript: void(0);" class="nav-link">
                <i class="nav-icon fab fa-acquisitions-incorporated"></i>
                Taxation
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("Pay", "TDS")" class="nav-link">
                        <i class="fas fa-align-left nav-icon"></i>
                        TDS Pay
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Receive", "TDS")" class="nav-link">
                        <i class="fas fa-align-right nav-icon"></i>
                        TDS Receive
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="javascript: void(0);" class="nav-link">
                <i class="nav-icon fas fa-server"></i>
                Master
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Branch")" class="nav-link">
                        <i class="fas fa-laptop-house nav-icon"></i>
                        Branch
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Type", "Product")" class="nav-link">
                        <i class="fas fa-sitemap nav-icon"></i>
                        Product Type
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Type", "Customer")" class="nav-link">
                        <i class="fas fa-user-shield nav-icon"></i>
                        Customer Type
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Type", "Vendor")" class="nav-link">
                        <i class="fas fa-user-tag nav-icon"></i>
                        Vendor Type
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Type", "Shipment")" class="nav-link">
                        <i class="fas fa-shipping-fast nav-icon"></i>
                        Shipment Type
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Type", "Bill")" class="nav-link">
                        <i class="fas fa-money-bill nav-icon"></i>
                        Bill Type
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Type", "Invoice")" class="nav-link">
                        <i class="fas fa-receipt nav-icon"></i>
                        Invoice Type
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Type", "Purchase")" class="nav-link">
                        <i class="fas fa-border-style nav-icon"></i>
                        Purchase Type
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Type", "Sales")" class="nav-link">
                        <i class="fas fa-border-none nav-icon"></i>
                        Sales Type
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Custom")" class="nav-link">
                        <i class="fas fa-align-right nav-icon"></i>
                        Custom Fields
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Default", "Configuration")" class="nav-link">
                        <i class="fab fa-buromobelexperte nav-icon"></i>
                        Default Value
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index", "Home", new { Area = "Report" })" class="nav-link">
                <i class="nav-icon fas fa-chart-line"></i>
                <p>
                    Report
                </p>
            </a>
        </li>
    </ul>
</nav>