@using JicoDotNet.Inventory.UI.Models;
 
@model SessionCredentialCompanyModels

<nav class="main-header navbar navbar-expand-md navbar-light navbar-white" style="max-height: 3rem;">
    <div class="container">
        <a href="@Url.Action("Index", "Home")" class="navbar-brand">
            <img src="~/Content/images/BrandLogo.png" alt="Brand Logo" class="d-inline-block align-top" style="height:30px;" />
        </a>
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item dropdown user-menu">
                <a href="javascript: void(0);" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <img src="~/Content/images/NoUser.png"
                         class="user-image img-circle elevation-2" alt="@Model._sessionCredential.UserFullName Image"
                         style="margin-top: -0.5rem;">
                    <span class="d-none d-md-inline text-dark">@Model._sessionCredential.UserFullName</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <div class="card card-widget widget-user-2 mb-0">
                        <div class="widget-user-header bg-success">
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="~/Content/images/NoUser.png"
                                     alt="@Model._sessionCredential.UserFullName">
                            </div>
                            <h4 class="widget-user-username" style="font-size: 14pt;">@Model._sessionCredential.UserFullName</h4>
                            <h5 class="widget-user-desc" style="font-size: 12pt;">@Model._sessionCredential.UserEmail</h5>
                        </div>
                        <div class="card-footer p-0" style="background-color: rgba(255, 255, 255, 0);">
                            <ul class="nav flex-column">

                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Home")" class="nav-link">
                                        <i class="fas fa-home mr-2"></i> Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Company")" class="nav-link">
                                        <i class="fas fa-university mr-2"></i> Organizations
                                    </a>
                                </li>
                                <li class="nav-item mb-2">
                                    <a href="@Url.Action("Index", "Logout", new { Area = string.Empty })" class="nav-link text-danger">
                                        <i class="fas fa-power-off mr-2"></i> Sign out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>